<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yunxuan.png</string>
            <key>size</key>
            <string>{620,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8aae87fa29707f101a6280b880be5aed$</string>
            <key>textureFileName</key>
            <string>yunxuan.png</string>
        </dict>
    </dict>
</plist>
