<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~BombCrabExplose_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{227,233}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{227,233}}</string>
                <key>sourceSize</key>
                <string>{229,237}</string>
            </dict>
            <key>~BombCrabExplose_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,0},{241,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,254}}</string>
                <key>sourceSize</key>
                <string>{241,254}</string>
            </dict>
            <key>~BombCrabExplose_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{248,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,256}}</string>
                <key>sourceSize</key>
                <string>{248,256}</string>
            </dict>
            <key>~BombCrabExplose_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{255,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,256}}</string>
                <key>sourceSize</key>
                <string>{255,256}</string>
            </dict>
            <key>~BombCrabExplose_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2251,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2507,0},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2304,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,256},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,512},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BombCrabExplose_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,512},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>~BroachCannonExplode_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,512},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>~BroachCannonExplode_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,512},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>~BroachCannonExplode_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,512},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>~BroachCannonExplode_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,512},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>~BroachCannonExplode_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,512},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>~BroachCannonExplode_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,512},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>~BroachCannonExplode_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,512},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>~BroachCannonExplode_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,512},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>~BroachCannonExplode_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,512},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>~BroachCannonExplode_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,512},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>~BroachCannonExplode_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,512},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>~BroachCannonExplode_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,512},{204,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,205}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>~BroachCannonExplode_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2037,512},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>~BroachCannonExplode_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2249,512},{215,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,216}}</string>
                <key>sourceSize</key>
                <string>{215,216}</string>
            </dict>
            <key>~BroachCannonExplode_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,512},{215,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,217}}</string>
                <key>sourceSize</key>
                <string>{215,217}</string>
            </dict>
            <key>~BroachCannonExplode_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2679,512},{267,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,266}}</string>
                <key>sourceSize</key>
                <string>{267,266}</string>
            </dict>
            <key>~BroachCannonExplode_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{270,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,268}}</string>
                <key>sourceSize</key>
                <string>{270,268}</string>
            </dict>
            <key>~BroachCannonExplode_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,778},{271,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,270}}</string>
                <key>sourceSize</key>
                <string>{271,270}</string>
            </dict>
            <key>~BroachCannonExplode_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,778},{272,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,270}}</string>
                <key>sourceSize</key>
                <string>{272,270}</string>
            </dict>
            <key>~BroachCannonExplode_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,778},{273,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,272}}</string>
                <key>sourceSize</key>
                <string>{273,272}</string>
            </dict>
            <key>~BroachCannonExplode_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,778},{273,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,272}}</string>
                <key>sourceSize</key>
                <string>{273,272}</string>
            </dict>
            <key>~BroachCannonExplode_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,778},{273,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,273}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>~BroachCannonExplode_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,778},{273,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,273}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>~BroachCannonExplode_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,778},{273,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,273}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>~BroachCannonExplode_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2178,778},{273,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,273}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>~BroachCannonExplode_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2451,778},{273,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,272}}</string>
                <key>sourceSize</key>
                <string>{273,272}</string>
            </dict>
            <key>~BroachCannonExplode_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2724,778},{268,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,267}}</string>
                <key>sourceSize</key>
                <string>{268,267}</string>
            </dict>
            <key>~BroachCannonExplode_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1051},{262,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,260}}</string>
                <key>sourceSize</key>
                <string>{262,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1051},{264,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,260}}</string>
                <key>sourceSize</key>
                <string>{264,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1051},{267,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,260}}</string>
                <key>sourceSize</key>
                <string>{267,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1051},{268,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,261}}</string>
                <key>sourceSize</key>
                <string>{268,261}</string>
            </dict>
            <key>~BroachCannonExplode_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,1051},{265,259}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{265,259}}</string>
                <key>sourceSize</key>
                <string>{267,261}</string>
            </dict>
            <key>~BroachCannonExplode_000_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1051},{267,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,260}}</string>
                <key>sourceSize</key>
                <string>{267,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1051},{267,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,259}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>~BroachCannonExplode_000_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,1051},{266,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,259}}</string>
                <key>sourceSize</key>
                <string>{266,259}</string>
            </dict>
            <key>~BroachCannonExplode_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2126,1051},{266,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,259}}</string>
                <key>sourceSize</key>
                <string>{266,259}</string>
            </dict>
            <key>~BroachCannonExplode_000_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2392,1051},{266,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{266,258}}</string>
                <key>sourceSize</key>
                <string>{266,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2658,1051},{266,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{266,258}}</string>
                <key>sourceSize</key>
                <string>{266,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1312},{266,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,258}}</string>
                <key>sourceSize</key>
                <string>{266,258}</string>
            </dict>
            <key>~BroachCannonExplode_000_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1312},{266,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,258}}</string>
                <key>sourceSize</key>
                <string>{266,258}</string>
            </dict>
            <key>~BroachCannonExplode_000_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1312},{266,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,260}}</string>
                <key>sourceSize</key>
                <string>{266,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1312},{266,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,258}}</string>
                <key>sourceSize</key>
                <string>{266,258}</string>
            </dict>
            <key>~BroachCannonExplode_000_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1312},{266,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,260}}</string>
                <key>sourceSize</key>
                <string>{266,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1312},{266,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,259}}</string>
                <key>sourceSize</key>
                <string>{266,259}</string>
            </dict>
            <key>~BroachCannonExplode_000_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1312},{266,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,260}}</string>
                <key>sourceSize</key>
                <string>{266,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1312},{266,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,260}}</string>
                <key>sourceSize</key>
                <string>{266,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2128,1312},{266,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,260}}</string>
                <key>sourceSize</key>
                <string>{266,260}</string>
            </dict>
            <key>~BroachCannonExplode_000_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2394,1312},{266,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,259}}</string>
                <key>sourceSize</key>
                <string>{266,259}</string>
            </dict>
            <key>~BroachCannonExplode_000_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2660,1312},{265,259}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,259}}</string>
                <key>sourceSize</key>
                <string>{267,259}</string>
            </dict>
            <key>~BroachCannonExplode_000_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1572},{265,256}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,256}}</string>
                <key>sourceSize</key>
                <string>{267,258}</string>
            </dict>
            <key>~BroachCannonExplode_000_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1572},{264,257}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,257}}</string>
                <key>sourceSize</key>
                <string>{264,259}</string>
            </dict>
            <key>~BroachCannonExplode_000_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1572},{264,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{264,257}}</string>
                <key>sourceSize</key>
                <string>{264,259}</string>
            </dict>
            <key>~BroachCannonExplode_000_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1572},{263,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,258}}</string>
                <key>sourceSize</key>
                <string>{263,258}</string>
            </dict>
            <key>~BroachCannonExplode_000_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1572},{258,258}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{262,258}</string>
            </dict>
            <key>~BroachCannonExplode_000_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1572},{259,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,257}}</string>
                <key>sourceSize</key>
                <string>{259,257}</string>
            </dict>
            <key>~BroachCannonExplode_000_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,1572},{260,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,257}}</string>
                <key>sourceSize</key>
                <string>{260,257}</string>
            </dict>
            <key>~BroachCannonExplode_000_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1572},{258,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{258,257}}</string>
                <key>sourceSize</key>
                <string>{260,257}</string>
            </dict>
            <key>~BroachCannonExplode_000_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2091,1572},{260,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,255}}</string>
                <key>sourceSize</key>
                <string>{260,255}</string>
            </dict>
            <key>~BroachCannonExplode_000_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2351,1572},{261,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,252}}</string>
                <key>sourceSize</key>
                <string>{261,252}</string>
            </dict>
            <key>~BroachCannonExplode_000_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2612,1572},{261,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,253}}</string>
                <key>sourceSize</key>
                <string>{261,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BombCrabExplose.png</string>
            <key>size</key>
            <string>{2992,1830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5078d9185d0fbb185a9a9c25f667865$</string>
            <key>textureFileName</key>
            <string>BombCrabExplose.png</string>
        </dict>
    </dict>
</plist>
