<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Net0/~Net03_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>Net0/~Net03_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{231,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,229}}</string>
                <key>sourceSize</key>
                <string>{231,229}</string>
            </dict>
            <key>Net0/~Net03_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,0},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net0/~Net03_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,0},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net0/~Net03_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,0},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net1/~Net03_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,0},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>Net1/~Net03_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,0},{231,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,229}}</string>
                <key>sourceSize</key>
                <string>{231,229}</string>
            </dict>
            <key>Net1/~Net03_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,0},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net1/~Net03_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net1/~Net03_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,287},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net2/~Net03_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,287},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>Net2/~Net03_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,287},{231,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,229}}</string>
                <key>sourceSize</key>
                <string>{231,229}</string>
            </dict>
            <key>Net2/~Net03_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,287},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net2/~Net03_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,287},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net2/~Net03_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,287},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net3/~Net03_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,287},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>Net3/~Net03_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{231,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,229}}</string>
                <key>sourceSize</key>
                <string>{231,229}</string>
            </dict>
            <key>Net3/~Net03_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,574},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net3/~Net03_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,574},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>Net3/~Net03_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,574},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,287}}</string>
                <key>sourceSize</key>
                <string>{288,287}</string>
            </dict>
            <key>NetA0/~NetA_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,574},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>NetA0/~NetA_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,574},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>NetA0/~NetA_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,574},{118,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,144}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>NetA0/~NetA_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,574},{148,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,171}}</string>
                <key>sourceSize</key>
                <string>{148,171}</string>
            </dict>
            <key>NetA0/~NetA_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,574},{163,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,199}}</string>
                <key>sourceSize</key>
                <string>{163,199}</string>
            </dict>
            <key>NetA0/~NetA_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,574},{178,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,230}}</string>
                <key>sourceSize</key>
                <string>{178,230}</string>
            </dict>
            <key>NetA0/~NetA_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,574},{195,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,253}}</string>
                <key>sourceSize</key>
                <string>{195,253}</string>
            </dict>
            <key>NetA0/~NetA_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,861},{226,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,278}}</string>
                <key>sourceSize</key>
                <string>{226,278}</string>
            </dict>
            <key>NetA0/~NetA_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,861},{248,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,299}}</string>
                <key>sourceSize</key>
                <string>{248,299}</string>
            </dict>
            <key>NetA0/~NetA_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,861},{204,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,250}}</string>
                <key>sourceSize</key>
                <string>{204,250}</string>
            </dict>
            <key>NetA1/~NetA_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,861},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>NetA1/~NetA_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,861},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>NetA1/~NetA_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,861},{118,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,144}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>NetA1/~NetA_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,861},{148,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,171}}</string>
                <key>sourceSize</key>
                <string>{148,171}</string>
            </dict>
            <key>NetA1/~NetA_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,861},{163,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,199}}</string>
                <key>sourceSize</key>
                <string>{163,199}</string>
            </dict>
            <key>NetA1/~NetA_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,861},{178,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,230}}</string>
                <key>sourceSize</key>
                <string>{178,230}</string>
            </dict>
            <key>NetA1/~NetA_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,861},{195,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,253}}</string>
                <key>sourceSize</key>
                <string>{195,253}</string>
            </dict>
            <key>NetA1/~NetA_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,861},{226,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,278}}</string>
                <key>sourceSize</key>
                <string>{226,278}</string>
            </dict>
            <key>NetA1/~NetA_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1160},{248,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,299}}</string>
                <key>sourceSize</key>
                <string>{248,299}</string>
            </dict>
            <key>NetA1/~NetA_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1160},{204,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,250}}</string>
                <key>sourceSize</key>
                <string>{204,250}</string>
            </dict>
            <key>NetA2/~NetA_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1160},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>NetA2/~NetA_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1160},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>NetA2/~NetA_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1160},{118,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,144}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>NetA2/~NetA_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1160},{148,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,171}}</string>
                <key>sourceSize</key>
                <string>{148,171}</string>
            </dict>
            <key>NetA2/~NetA_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1160},{163,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,199}}</string>
                <key>sourceSize</key>
                <string>{163,199}</string>
            </dict>
            <key>NetA2/~NetA_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1160},{178,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,230}}</string>
                <key>sourceSize</key>
                <string>{178,230}</string>
            </dict>
            <key>NetA2/~NetA_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1160},{195,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,253}}</string>
                <key>sourceSize</key>
                <string>{195,253}</string>
            </dict>
            <key>NetA2/~NetA_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1160},{226,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,278}}</string>
                <key>sourceSize</key>
                <string>{226,278}</string>
            </dict>
            <key>NetA2/~NetA_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1160},{248,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,299}}</string>
                <key>sourceSize</key>
                <string>{248,299}</string>
            </dict>
            <key>NetA2/~NetA_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1459},{204,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,250}}</string>
                <key>sourceSize</key>
                <string>{204,250}</string>
            </dict>
            <key>NetA3/~NetA_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1459},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>NetA3/~NetA_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1459},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>NetA3/~NetA_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1459},{118,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,144}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>NetA3/~NetA_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1459},{148,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,171}}</string>
                <key>sourceSize</key>
                <string>{148,171}</string>
            </dict>
            <key>NetA3/~NetA_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1459},{163,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,199}}</string>
                <key>sourceSize</key>
                <string>{163,199}</string>
            </dict>
            <key>NetA3/~NetA_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1459},{178,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,230}}</string>
                <key>sourceSize</key>
                <string>{178,230}</string>
            </dict>
            <key>NetA3/~NetA_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1459},{195,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,253}}</string>
                <key>sourceSize</key>
                <string>{195,253}</string>
            </dict>
            <key>NetA3/~NetA_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1459},{226,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,278}}</string>
                <key>sourceSize</key>
                <string>{226,278}</string>
            </dict>
            <key>NetA3/~NetA_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1459},{248,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,299}}</string>
                <key>sourceSize</key>
                <string>{248,299}</string>
            </dict>
            <key>NetA3/~NetA_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1459},{204,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,250}}</string>
                <key>sourceSize</key>
                <string>{204,250}</string>
            </dict>
            <key>~Bullet1_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1459},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>~Bullet2_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,1459},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>~Bullet3_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,1459},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>~Bullet6_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,1459},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>~Bullet7_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1758},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>~Bullet8_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1758},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bulletEx.png</string>
            <key>size</key>
            <string>{2041,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cc67f4b6c16b4e6cef6868830c91112$</string>
            <key>textureFileName</key>
            <string>bulletEx.png</string>
        </dict>
    </dict>
</plist>
