<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~CoinEff_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>~CoinEff_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>~CoinEff_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,0},{26,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,58}}</string>
                <key>sourceSize</key>
                <string>{26,58}</string>
            </dict>
            <key>~CoinEff_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,0},{13,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,58}}</string>
                <key>sourceSize</key>
                <string>{13,58}</string>
            </dict>
            <key>~CoinEff_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{33,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,58}}</string>
                <key>sourceSize</key>
                <string>{33,58}</string>
            </dict>
            <key>~CoinEff_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>~CoinEff_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,0},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>~CoinEff_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,0},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>~CoinEff_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>~CoinEff_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,0},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>~CoinEff_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,0},{19,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,58}}</string>
                <key>sourceSize</key>
                <string>{19,58}</string>
            </dict>
            <key>~CoinEff_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{19,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,58}}</string>
                <key>sourceSize</key>
                <string>{19,58}</string>
            </dict>
            <key>~CoinEff_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,0},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>~CoinEff_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,0},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>~CoinEff_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>~CoinEff_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,0},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin_.png</string>
            <key>size</key>
            <string>{659,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7e91823899005732693214b8125314b$</string>
            <key>textureFileName</key>
            <string>coin_.png</string>
        </dict>
    </dict>
</plist>
