<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~screw_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>~screw_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,0},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>~screw_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,0},{93,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,21}}</string>
                <key>sourceSize</key>
                <string>{93,21}</string>
            </dict>
            <key>~screw_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,0},{116,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,30}</string>
            </dict>
            <key>~screw_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{116,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,35}}</string>
                <key>sourceSize</key>
                <string>{116,35}</string>
            </dict>
            <key>~screw_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,0},{116,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,51}}</string>
                <key>sourceSize</key>
                <string>{116,51}</string>
            </dict>
            <key>~screw_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,0},{117,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,58}}</string>
                <key>sourceSize</key>
                <string>{117,58}</string>
            </dict>
            <key>~screw_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,0},{117,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,63}}</string>
                <key>sourceSize</key>
                <string>{117,63}</string>
            </dict>
            <key>~screw_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,0},{118,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,68}}</string>
                <key>sourceSize</key>
                <string>{118,68}</string>
            </dict>
            <key>~screw_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,0},{119,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,72}}</string>
                <key>sourceSize</key>
                <string>{119,72}</string>
            </dict>
            <key>~screw_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,0},{120,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>~screw_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,0},{121,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,74}}</string>
                <key>sourceSize</key>
                <string>{121,74}</string>
            </dict>
            <key>~screw_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,0},{122,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,73}}</string>
                <key>sourceSize</key>
                <string>{122,73}</string>
            </dict>
            <key>~screw_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,0},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
            <key>~screw_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,0},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>~screw_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,0},{126,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,53}}</string>
                <key>sourceSize</key>
                <string>{126,53}</string>
            </dict>
            <key>~screw_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{127,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,54}}</string>
                <key>sourceSize</key>
                <string>{127,54}</string>
            </dict>
            <key>~screw_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,74},{130,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,57}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>~screw_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,74},{131,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,58}}</string>
                <key>sourceSize</key>
                <string>{131,58}</string>
            </dict>
            <key>~screw_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,74},{132,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,57}}</string>
                <key>sourceSize</key>
                <string>{132,57}</string>
            </dict>
            <key>~screw_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,74},{134,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,63}}</string>
                <key>sourceSize</key>
                <string>{134,63}</string>
            </dict>
            <key>~screw_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,74},{135,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,68}}</string>
                <key>sourceSize</key>
                <string>{135,68}</string>
            </dict>
            <key>~screw_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,74},{136,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,71}}</string>
                <key>sourceSize</key>
                <string>{136,71}</string>
            </dict>
            <key>~screw_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,74},{137,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,69}}</string>
                <key>sourceSize</key>
                <string>{137,69}</string>
            </dict>
            <key>~screw_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,74},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>~screw_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,74},{138,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,68}}</string>
                <key>sourceSize</key>
                <string>{138,68}</string>
            </dict>
            <key>~screw_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,74},{139,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,70}}</string>
                <key>sourceSize</key>
                <string>{139,70}</string>
            </dict>
            <key>~screw_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,74},{139,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,70}}</string>
                <key>sourceSize</key>
                <string>{139,70}</string>
            </dict>
            <key>~screw_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,74},{140,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,52}}</string>
                <key>sourceSize</key>
                <string>{140,52}</string>
            </dict>
            <key>~screw_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>~screw_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,145},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>~screw_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,145},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>~screw_000_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,145},{136,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,39}}</string>
                <key>sourceSize</key>
                <string>{136,39}</string>
            </dict>
            <key>~screw_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,145},{137,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,40}}</string>
                <key>sourceSize</key>
                <string>{137,40}</string>
            </dict>
            <key>~screw_000_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,145},{138,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,40}}</string>
                <key>sourceSize</key>
                <string>{138,40}</string>
            </dict>
            <key>~screw_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,145},{138,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,40}}</string>
                <key>sourceSize</key>
                <string>{138,40}</string>
            </dict>
            <key>~screw_000_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,145},{138,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,41}}</string>
                <key>sourceSize</key>
                <string>{138,41}</string>
            </dict>
            <key>~screw_000_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,145},{138,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,41}}</string>
                <key>sourceSize</key>
                <string>{138,41}</string>
            </dict>
            <key>~screw_000_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,145},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eyuScrew.png</string>
            <key>size</key>
            <string>{1755,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55552a7332eb8fd26e953503e78e41ed$</string>
            <key>textureFileName</key>
            <string>eyuScrew.png</string>
        </dict>
    </dict>
</plist>
