<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~FistEff_000_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{292,264}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{499,51},{292,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistEff_000_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{230,208}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{793,247},{230,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistEff_000_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,1}</string>
                <key>spriteSize</key>
                <string>{276,300}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,243},{276,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~FistEff_000_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,0}</string>
                <key>spriteSize</key>
                <string>{242,236}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{498,439},{242,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistEff_000_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{208,172}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{495,821},{208,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistEff_000_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{907,1036},{174,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~FistEff_000_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{709,1243},{174,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~FistEff_000_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{303,799},{190,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistEff_000_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,108}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{742,457},{232,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistEff_000_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{278,120}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{499,317},{278,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistEff_000_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{320,130}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{367,33},{320,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~FistEff_000_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{364,140}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,33},{364,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistEff_000_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{907,1036},{174,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~FistEff_000_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{907,1036},{174,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~FistEff_000_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{907,1036},{174,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~FistEff_000_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{907,1036},{174,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~FistEff_000_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{907,1036},{174,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~FistEff_000_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{244,84}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{939,1},{244,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~FistEff_000_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{340,66}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,175},{340,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistEff_000_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{434,48}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{503,1},{434,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistEff_000_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{500,30}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~FistUI_000_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,114}</string>
                <key>spriteSourceSize</key>
                <string>{88,114}</string>
                <key>textureRect</key>
                <string>{{922,721},{88,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,68}</string>
                <key>spriteSourceSize</key>
                <string>{211,68}</string>
                <key>textureRect</key>
                <string>{{709,793},{211,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,68}</string>
                <key>spriteSourceSize</key>
                <string>{216,68}</string>
                <key>textureRect</key>
                <string>{{1,592},{216,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,69}</string>
                <key>spriteSourceSize</key>
                <string>{192,69}</string>
                <key>textureRect</key>
                <string>{{303,582},{192,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,70}</string>
                <key>spriteSourceSize</key>
                <string>{199,70}</string>
                <key>textureRect</key>
                <string>{{637,1230},{199,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,71}</string>
                <key>spriteSourceSize</key>
                <string>{204,71}</string>
                <key>textureRect</key>
                <string>{{1,1220},{204,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,71}</string>
                <key>spriteSourceSize</key>
                <string>{211,71}</string>
                <key>textureRect</key>
                <string>{{496,677},{211,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,72}</string>
                <key>spriteSourceSize</key>
                <string>{191,72}</string>
                <key>textureRect</key>
                <string>{{303,653},{191,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,72}</string>
                <key>spriteSourceSize</key>
                <string>{194,72}</string>
                <key>textureRect</key>
                <string>{{793,51},{194,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,73}</string>
                <key>spriteSourceSize</key>
                <string>{200,73}</string>
                <key>textureRect</key>
                <string>{{488,1155},{200,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,73}</string>
                <key>spriteSourceSize</key>
                <string>{206,73}</string>
                <key>textureRect</key>
                <string>{{705,863},{206,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,73}</string>
                <key>spriteSourceSize</key>
                <string>{214,73}</string>
                <key>textureRect</key>
                <string>{{1,815},{214,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,74}</string>
                <key>spriteSourceSize</key>
                <string>{214,74}</string>
                <key>textureRect</key>
                <string>{{1,739},{214,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,74}</string>
                <key>spriteSourceSize</key>
                <string>{216,74}</string>
                <key>textureRect</key>
                <string>{{742,645},{216,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,74}</string>
                <key>spriteSourceSize</key>
                <string>{183,74}</string>
                <key>textureRect</key>
                <string>{{303,1220},{183,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,74}</string>
                <key>spriteSourceSize</key>
                <string>{183,74}</string>
                <key>textureRect</key>
                <string>{{709,1167},{183,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,74}</string>
                <key>spriteSourceSize</key>
                <string>{188,74}</string>
                <key>textureRect</key>
                <string>{{303,986},{188,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,74}</string>
                <key>spriteSourceSize</key>
                <string>{193,74}</string>
                <key>textureRect</key>
                <string>{{303,434},{193,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,74}</string>
                <key>spriteSourceSize</key>
                <string>{199,74}</string>
                <key>textureRect</key>
                <string>{{561,1230},{199,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,75}</string>
                <key>spriteSourceSize</key>
                <string>{205,75}</string>
                <key>textureRect</key>
                <string>{{700,1012},{205,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,75}</string>
                <key>spriteSourceSize</key>
                <string>{207,75}</string>
                <key>textureRect</key>
                <string>{{1,1125},{207,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,76}</string>
                <key>spriteSourceSize</key>
                <string>{201,76}</string>
                <key>textureRect</key>
                <string>{{694,1089},{201,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,76}</string>
                <key>spriteSourceSize</key>
                <string>{203,76}</string>
                <key>textureRect</key>
                <string>{{146,1220},{203,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,76}</string>
                <key>spriteSourceSize</key>
                <string>{197,76}</string>
                <key>textureRect</key>
                <string>{{817,1315},{197,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,77}</string>
                <key>spriteSourceSize</key>
                <string>{204,77}</string>
                <key>textureRect</key>
                <string>{{488,1076},{204,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,76}</string>
                <key>spriteSourceSize</key>
                <string>{208,76}</string>
                <key>textureRect</key>
                <string>{{1,965},{208,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,69}</string>
                <key>spriteSourceSize</key>
                <string>{211,69}</string>
                <key>textureRect</key>
                <string>{{496,750},{211,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,69}</string>
                <key>spriteSourceSize</key>
                <string>{216,69}</string>
                <key>textureRect</key>
                <string>{{1,521},{216,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,70}</string>
                <key>spriteSourceSize</key>
                <string>{192,70}</string>
                <key>textureRect</key>
                <string>{{303,510},{192,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,70}</string>
                <key>spriteSourceSize</key>
                <string>{199,70}</string>
                <key>textureRect</key>
                <string>{{817,1243},{199,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,70}</string>
                <key>spriteSourceSize</key>
                <string>{204,70}</string>
                <key>textureRect</key>
                <string>{{74,1220},{204,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,70}</string>
                <key>spriteSourceSize</key>
                <string>{211,70}</string>
                <key>textureRect</key>
                <string>{{709,721},{211,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,70}</string>
                <key>spriteSourceSize</key>
                <string>{191,70}</string>
                <key>textureRect</key>
                <string>{{303,727},{191,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,70}</string>
                <key>spriteSourceSize</key>
                <string>{194,70}</string>
                <key>textureRect</key>
                <string>{{867,51},{194,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,71}</string>
                <key>spriteSourceSize</key>
                <string>{200,71}</string>
                <key>textureRect</key>
                <string>{{488,1230},{200,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,72}</string>
                <key>spriteSourceSize</key>
                <string>{206,72}</string>
                <key>textureRect</key>
                <string>{{705,938},{206,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,73}</string>
                <key>spriteSourceSize</key>
                <string>{214,73}</string>
                <key>textureRect</key>
                <string>{{1,890},{214,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,75}</string>
                <key>spriteSourceSize</key>
                <string>{214,75}</string>
                <key>textureRect</key>
                <string>{{1,662},{214,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,76}</string>
                <key>spriteSourceSize</key>
                <string>{216,76}</string>
                <key>textureRect</key>
                <string>{{742,567},{216,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,77}</string>
                <key>spriteSourceSize</key>
                <string>{183,77}</string>
                <key>textureRect</key>
                <string>{{303,1062},{183,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,77}</string>
                <key>spriteSourceSize</key>
                <string>{183,77}</string>
                <key>textureRect</key>
                <string>{{303,1141},{183,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,77}</string>
                <key>spriteSourceSize</key>
                <string>{188,77}</string>
                <key>textureRect</key>
                <string>{{303,907},{188,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,77}</string>
                <key>spriteSourceSize</key>
                <string>{193,77}</string>
                <key>textureRect</key>
                <string>{{303,355},{193,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,77}</string>
                <key>spriteSourceSize</key>
                <string>{199,77}</string>
                <key>textureRect</key>
                <string>{{224,1142},{199,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,79}</string>
                <key>spriteSourceSize</key>
                <string>{205,79}</string>
                <key>textureRect</key>
                <string>{{493,995},{205,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,80}</string>
                <key>spriteSourceSize</key>
                <string>{207,80}</string>
                <key>textureRect</key>
                <string>{{1,1043},{207,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,81}</string>
                <key>spriteSourceSize</key>
                <string>{201,81}</string>
                <key>textureRect</key>
                <string>{{224,1343},{201,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>~fistBulletEx_000_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,82}</string>
                <key>spriteSourceSize</key>
                <string>{203,82}</string>
                <key>textureRect</key>
                <string>{{219,521},{203,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,83}</string>
                <key>spriteSourceSize</key>
                <string>{197,83}</string>
                <key>textureRect</key>
                <string>{{922,837},{197,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,84}</string>
                <key>spriteSourceSize</key>
                <string>{204,84}</string>
                <key>textureRect</key>
                <string>{{217,936},{204,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>~fistBulletEx_000_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,84}</string>
                <key>spriteSourceSize</key>
                <string>{208,84}</string>
                <key>textureRect</key>
                <string>{{217,726},{208,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fist_gun_Effect.png</string>
            <key>size</key>
            <string>{1024,1431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52ab10a1fac6e0c73850afb147b4b5c6:7b9941e983185928333b41a0ad71557b:d1288b5e07333744802f73c52aefaaa9$</string>
            <key>textureFileName</key>
            <string>fist_gun_Effect.png</string>
        </dict>
    </dict>
</plist>
