<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~FreeGunFish_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{172,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,149}}</string>
                <key>sourceSize</key>
                <string>{172,149}</string>
            </dict>
            <key>~FreeGunFish_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,149}}</string>
                <key>sourceSize</key>
                <string>{175,149}</string>
            </dict>
            <key>~FreeGunFish_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{175,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,148}}</string>
                <key>sourceSize</key>
                <string>{175,148}</string>
            </dict>
            <key>~FreeGunFish_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,153},{169,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,146}}</string>
                <key>sourceSize</key>
                <string>{169,146}</string>
            </dict>
            <key>~FreeGunFish_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,153},{164,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,144}}</string>
                <key>sourceSize</key>
                <string>{164,144}</string>
            </dict>
            <key>~FreeGunFish_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{162,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,142}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>~FreeGunFish_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{158,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,139}}</string>
                <key>sourceSize</key>
                <string>{158,139}</string>
            </dict>
            <key>~FreeGunFish_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,146},{154,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{154,138}</string>
            </dict>
            <key>~FreeGunFish_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,152},{148,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,137}}</string>
                <key>sourceSize</key>
                <string>{148,137}</string>
            </dict>
            <key>~FreeGunFish_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,291},{143,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,138}}</string>
                <key>sourceSize</key>
                <string>{143,138}</string>
            </dict>
            <key>~FreeGunFish_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,303},{137,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,139}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>~FreeGunFish_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,301},{130,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,142}}</string>
                <key>sourceSize</key>
                <string>{130,142}</string>
            </dict>
            <key>~FreeGunFish_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,299},{132,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,144}}</string>
                <key>sourceSize</key>
                <string>{132,144}</string>
            </dict>
            <key>~FreeGunFish_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,291},{142,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,146}}</string>
                <key>sourceSize</key>
                <string>{142,146}</string>
            </dict>
            <key>~FreeGunFish_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{152,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,148}}</string>
                <key>sourceSize</key>
                <string>{152,148}</string>
            </dict>
            <key>~FreeGunFish_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{162,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,149}}</string>
                <key>sourceSize</key>
                <string>{162,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FreeGunFish.png</string>
            <key>size</key>
            <string>{867,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c37d7f667da35631f017b141534cfe70$</string>
            <key>textureFileName</key>
            <string>FreeGunFish.png</string>
        </dict>
    </dict>
</plist>
