<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XY_Bing_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{4022,1475},{68,70}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,209},{68,70}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1090},{92,92}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,195},{92,92}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1742},{116,116}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,180},{116,116}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1464},{144,142}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,167},{144,142}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3905,1956},{172,170}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,152},{172,170}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2289,1936},{200,196}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,139},{200,196}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,3159},{230,224}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,124},{230,224}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,3835},{258,252}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,110},{258,252}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,3811},{286,280}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,95},{286,280}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,3502},{314,308}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,81},{314,308}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,3558},{342,336}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,67},{342,336}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,3195},{372,362}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{372,362}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2824},{400,392}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,38},{400,392}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1927},{428,420}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,24},{428,420}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1490},{458,446}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{458,446}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1458},{472,468}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{472,468}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1925},{454,480}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{454,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,516},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{3567,994},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3060,1447},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,1455},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2515,1470},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{3541,1475},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2996,1928},{480,480}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,480}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,997},{478,478}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{478,478}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Bing_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1011},{478,478}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{478,478}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_Coin_Light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2153,2678},{331,315}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,115},{331,315}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,3582},{357,345}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,98},{357,345}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,3144},{381,377}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,80},{381,377}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2490,1951},{405,405}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,64},{405,405}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,2321},{405,403}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,63},{405,403}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2348},{405,401}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{405,401}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2725},{401,395}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,62},{401,395}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2750},{401,393}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,64},{401,393}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2803},{401,391}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{401,391}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2486,2357},{399,395}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,66},{399,395}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,2347},{403,397}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,65},{403,397}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3477,2374},{421,409}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,58},{421,409}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1464},{441,433}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{441,433}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1937},{453,449}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{453,449}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2076,494},{493,483}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{493,483}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3592,500},{499,493}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{499,493}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3594,0},{501,499}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{501,499}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,0},{513,503}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{513,503}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2076,0},{505,493}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{505,493}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,0},{505,495}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{505,495}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{525,515}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{525,515}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{529,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,529}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2570,972},{489,497}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{489,497}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3088,466},{503,495}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{503,495}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2582,0},{505,485}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{505,485}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{3088,0},{505,465}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{505,465}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2582,486},{493,485}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{493,485}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{3477,1956},{427,417}}</string>
                <key>offset</key>
                <string>{-29,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,96},{427,417}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_Coin_Light_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2745},{391,413}}</string>
                <key>offset</key>
                <string>{-48,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,105},{391,413}}</string>
                <key>sourceSize</key>
                <string>{529,529}</string>
            </dict>
            <key>XY_TX_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,516},{40,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,228},{40,46}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,997},{94,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,202},{94,92}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1607},{134,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,181},{134,134}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3905,2127},{168,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,164},{168,168}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2289,2133},{198,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,150},{198,196}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,3725},{226,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,136},{226,224}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,3835},{250,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,124},{250,248}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,3452},{274,272}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,111},{274,272}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,3159},{294,292}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,101},{294,292}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,3522},{314,312}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,91},{314,312}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2153,2347},{332,330}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,82},{332,330}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3582},{352,348}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,73},{352,348}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3217},{368,364}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,65},{368,364}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,3121},{386,380}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{386,380}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2406},{404,396}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,48},{404,396}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1936},{420,410}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,41},{420,410}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1898},{434,422}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{434,422}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2387},{452,436}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{452,436}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1476},{464,448}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{464,448}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,999},{474,458}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{474,458}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,995},{484,468}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{484,468}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2063,978},{486,476}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{486,476}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3076,962},{490,484}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{490,484}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,504},{492,494}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{492,494}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
            <key>XY_TX_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,496},{492,498}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,498}}</string>
                <key>sourceSize</key>
                <string>{498,498}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XY_Bomb0.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16d152c4e4c11478b41b6d5e5a4feedb:5939f69730eee4a01d18473315dc76a0:372c6bd99a6966dbcbb095b189460542$</string>
            <key>textureFileName</key>
            <string>XY_Bomb0.png</string>
        </dict>
    </dict>
</plist>
