<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XY_d_fish01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1662},{66,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{66,29}}</string>
                <key>sourceSize</key>
                <string>{70,31}</string>
            </dict>
            <key>XY_d_fish01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1662},{66,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{66,29}}</string>
                <key>sourceSize</key>
                <string>{70,31}</string>
            </dict>
            <key>XY_d_fish04_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1477},{78,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>XY_d_fish09_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,468},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_d_fish13_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1693},{224,86}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{224,86}}</string>
                <key>sourceSize</key>
                <string>{266,166}</string>
            </dict>
            <key>XY_d_fish13_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,1693},{214,90}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{214,90}}</string>
                <key>sourceSize</key>
                <string>{266,166}</string>
            </dict>
            <key>XY_d_fish14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1968},{188,79}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,41},{188,79}}</string>
                <key>sourceSize</key>
                <string>{204,179}</string>
            </dict>
            <key>XY_d_fish14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,1909},{192,135}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{192,135}}</string>
                <key>sourceSize</key>
                <string>{204,179}</string>
            </dict>
            <key>XY_d_fish16_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1696},{290,99}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{290,99}}</string>
                <key>sourceSize</key>
                <string>{294,125}</string>
            </dict>
            <key>XY_d_fish17_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1662},{195,192}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{195,192}}</string>
                <key>sourceSize</key>
                <string>{237,218}</string>
            </dict>
            <key>XY_d_fish17_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1696},{229,88}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,61},{229,88}}</string>
                <key>sourceSize</key>
                <string>{237,218}</string>
            </dict>
            <key>XY_d_fish17_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1165},{171,158}}</string>
                <key>offset</key>
                <string>{27,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{171,158}}</string>
                <key>sourceSize</key>
                <string>{237,218}</string>
            </dict>
            <key>XY_d_fish17_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,632},{169,200}}</string>
                <key>offset</key>
                <string>{31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{169,200}}</string>
                <key>sourceSize</key>
                <string>{237,218}</string>
            </dict>
            <key>XY_d_fish18_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1347},{317,131}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{317,131}}</string>
                <key>sourceSize</key>
                <string>{319,193}</string>
            </dict>
            <key>XY_d_fish18_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,0},{289,175}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{289,175}}</string>
                <key>sourceSize</key>
                <string>{319,193}</string>
            </dict>
            <key>XY_d_fish20_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,584},{384,193}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{384,193}}</string>
                <key>sourceSize</key>
                <string>{390,207}</string>
            </dict>
            <key>XY_d_fish20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,196},{388,193}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{388,193}}</string>
                <key>sourceSize</key>
                <string>{390,207}</string>
            </dict>
            <key>XY_d_fish20_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,390},{386,193}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{386,193}}</string>
                <key>sourceSize</key>
                <string>{390,207}</string>
            </dict>
            <key>XY_d_fish20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,0},{390,195}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{390,195}}</string>
                <key>sourceSize</key>
                <string>{390,207}</string>
            </dict>
            <key>XY_d_fish20_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,972},{372,195}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{372,195}}</string>
                <key>sourceSize</key>
                <string>{390,207}</string>
            </dict>
            <key>XY_d_fish20_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1168},{374,191}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{374,191}}</string>
                <key>sourceSize</key>
                <string>{390,207}</string>
            </dict>
            <key>XY_d_fish20_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,778},{378,193}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{378,193}}</string>
                <key>sourceSize</key>
                <string>{390,207}</string>
            </dict>
            <key>XY_d_fish21_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1487},{416,174}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{416,174}}</string>
                <key>sourceSize</key>
                <string>{428,222}</string>
            </dict>
            <key>XY_d_fish21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1785},{420,182}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,40},{420,182}}</string>
                <key>sourceSize</key>
                <string>{428,222}</string>
            </dict>
            <key>XY_d_fish21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1347},{396,194}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{396,194}}</string>
                <key>sourceSize</key>
                <string>{428,222}</string>
            </dict>
            <key>XY_d_fish21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1542},{396,150}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{396,150}}</string>
                <key>sourceSize</key>
                <string>{428,222}</string>
            </dict>
            <key>XY_d_fish21_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1796},{416,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{416,194}}</string>
                <key>sourceSize</key>
                <string>{428,222}</string>
            </dict>
            <key>XY_d_fish21_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1796},{424,186}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,186}}</string>
                <key>sourceSize</key>
                <string>{428,222}</string>
            </dict>
            <key>XY_d_fish23_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,176},{103,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,145}}</string>
                <key>sourceSize</key>
                <string>{103,145}</string>
            </dict>
            <key>XY_d_fish24_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,176},{184,263}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,50},{184,263}}</string>
                <key>sourceSize</key>
                <string>{356,363}</string>
            </dict>
            <key>XY_fish01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1797},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>XY_fish01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1822},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>XY_fish05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1991},{119,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>XY_fish05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1991},{121,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>XY_fish05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1991},{119,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>XY_fish05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,1797},{119,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{119,54}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>XY_fish05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1983},{119,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>XY_fish05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1983},{119,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>XY_fish05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1991},{121,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>XY_fish05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1983},{121,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,54}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>XY_fish06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1566},{77,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>XY_fish06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1734},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>XY_fish06_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1651},{77,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,82}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>XY_fish06_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1662},{75,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{75,22}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>XY_fish06_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1662},{75,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{75,26}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>XY_fish06_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1817},{77,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{77,34}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>XY_fish07_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1968},{57,72}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{57,72}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>XY_fish09_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,468},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish09_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,586},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish09_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,704},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish09_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,1176},{128,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,115}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish09_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,1292},{128,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,115}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish09_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,1408},{128,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,115}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish09_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,940},{126,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish09_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,1058},{126,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish09_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,1524},{128,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,115}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish09_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,1640},{128,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,115}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish09_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,822},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>XY_fish14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1000},{174,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{174,164}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>XY_fish14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1487},{174,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{174,154}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>XY_fish14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1784},{168,146}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{168,146}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>XY_fish14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,1642},{166,154}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{166,154}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>XY_fish14_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1324},{166,162}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{166,162}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>XY_fish14_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,833},{166,166}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>XY_fish14_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,1756},{164,152}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{164,152}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>XY_fish14_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1931},{162,112}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{162,112}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>XY_fish14_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1968},{164,80}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,41},{164,80}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>XY_fish15_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1347},{186,129}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{186,129}}</string>
                <key>sourceSize</key>
                <string>{216,133}</string>
            </dict>
            <key>XY_fish17_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,440},{178,191}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,3},{178,191}}</string>
                <key>sourceSize</key>
                <string>{228,195}</string>
            </dict>
            <key>XY_fish20_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1528},{366,167}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{366,167}}</string>
                <key>sourceSize</key>
                <string>{368,167}</string>
            </dict>
            <key>XY_fish20_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1360},{368,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,167}}</string>
                <key>sourceSize</key>
                <string>{368,167}</string>
            </dict>
            <key>XY_fish21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1855},{416,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{416,173}}</string>
                <key>sourceSize</key>
                <string>{420,175}</string>
            </dict>
            <key>XY_fish23_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,176},{103,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,145}}</string>
                <key>sourceSize</key>
                <string>{103,145}</string>
            </dict>
            <key>XY_fish23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,322},{103,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,145}}</string>
                <key>sourceSize</key>
                <string>{103,145}</string>
            </dict>
            <key>XY_fish24_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>XY_fish24_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,449},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>XY_fish24_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,898},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>XY_fish24_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1347},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>XY_fish24_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,0},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>XY_fish24_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,0},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>XY_fish24_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,449},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>XY_fish24_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,449},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>XY_fish24_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,898},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>XY_fish24_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,898},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>XY_fish24_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{448,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,448}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XY_Fish0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16d4d368ad10725a30f36945a8f4907b:68174c4f4aad0f9c6994b74aa14e0140:fd6085004d500208b8c0d3a21eda890a$</string>
            <key>textureFileName</key>
            <string>XY_Fish0.png</string>
        </dict>
    </dict>
</plist>
