<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~ChainFishIdDigital_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>~ChainFishIdDigital_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,0},{20,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,37}}</string>
                <key>sourceSize</key>
                <string>{20,37}</string>
            </dict>
            <key>~ChainFishIdDigital_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,0},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>~ChainFishIdDigital_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,0},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>~ChainFishIdDigital_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,0},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>~ChainFishIdDigital_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>~ChainFishIdDigital_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,37},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>~ChainFishIdDigital_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,37},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>~ChainFishIdDigital_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,37},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>~ChainFishIdDigital_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,37},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>~ChainFishId_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,37},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChainFishIdDigital.png</string>
            <key>size</key>
            <string>{171,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d14a966241b5b850cc5d0bd3a93e3539$</string>
            <key>textureFileName</key>
            <string>ChainFishIdDigital.png</string>
        </dict>
    </dict>
</plist>
