<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~SameKindBombGainText_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>~SameKindBombLogo_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,0},{221,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,127}}</string>
                <key>sourceSize</key>
                <string>{221,127}</string>
            </dict>
            <key>~SameKindKingLOGO_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{287,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,149}}</string>
                <key>sourceSize</key>
                <string>{287,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>king_ui.png</string>
            <key>size</key>
            <string>{575,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fb89477ac70b89872038d55e95dd360$</string>
            <key>textureFileName</key>
            <string>king_ui.png</string>
        </dict>
    </dict>
</plist>
