<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~BroachCannonCrab_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{145,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,137}}</string>
                <key>sourceSize</key>
                <string>{145,137}</string>
            </dict>
            <key>~BroachCannonCrab_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{146,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,137}}</string>
                <key>sourceSize</key>
                <string>{146,137}</string>
            </dict>
            <key>~BroachCannonCrab_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,141},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>~BroachCannonCrab_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,138},{141,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,138}}</string>
                <key>sourceSize</key>
                <string>{141,138}</string>
            </dict>
            <key>~BroachCannonCrab_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{140,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,137}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>~BroachCannonCrab_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{143,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,134}}</string>
                <key>sourceSize</key>
                <string>{143,134}</string>
            </dict>
            <key>~BroachCannonCrab_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{143,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,130}}</string>
                <key>sourceSize</key>
                <string>{143,130}</string>
            </dict>
            <key>~BroachCannonCrab_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,282},{141,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,128}}</string>
                <key>sourceSize</key>
                <string>{141,128}</string>
            </dict>
            <key>~BroachCannonCrab_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,281},{138,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,127}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>~BroachCannonCrab_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,280},{133,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,128}}</string>
                <key>sourceSize</key>
                <string>{133,128}</string>
            </dict>
            <key>~BroachCannonCrab_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,280},{133,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,130}}</string>
                <key>sourceSize</key>
                <string>{133,130}</string>
            </dict>
            <key>~BroachCannonCrab_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,278},{138,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,135}}</string>
                <key>sourceSize</key>
                <string>{138,135}</string>
            </dict>
            <key>~BroachCannonCrab_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,141},{144,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,137}}</string>
                <key>sourceSize</key>
                <string>{144,137}</string>
            </dict>
            <key>~BroachCannonCrab_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{145,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,138}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>~BroachCannonCrab_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,138}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>~BroachCannonCrab_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,141},{145,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,137}}</string>
                <key>sourceSize</key>
                <string>{145,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BroachCannonCrab.png</string>
            <key>size</key>
            <string>{840,415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e47a5642a55801bfed6288ac9d875307$</string>
            <key>textureFileName</key>
            <string>BroachCannonCrab.png</string>
        </dict>
    </dict>
</plist>
