<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BiBei/Left/0/aa15.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1470},{262,266}}</string>
                <key>offset</key>
                <string>{-111,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,138},{262,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa16.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1470},{262,266}}</string>
                <key>offset</key>
                <string>{-111,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,138},{262,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1222},{260,266}}</string>
                <key>offset</key>
                <string>{-110,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,138},{260,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1222},{260,266}}</string>
                <key>offset</key>
                <string>{-110,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,138},{260,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1222},{260,266}}</string>
                <key>offset</key>
                <string>{-110,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,137},{260,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{260,266}}</string>
                <key>offset</key>
                <string>{-110,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,138},{260,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{260,266}}</string>
                <key>offset</key>
                <string>{-110,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,138},{260,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa0.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1480},{266,266}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,133},{266,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1484},{266,266}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,133},{266,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1484},{266,266}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,133},{266,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1484},{266,266}}</string>
                <key>offset</key>
                <string>{-122,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,134},{266,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{254,252}}</string>
                <key>offset</key>
                <string>{125,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,163},{254,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1216},{256,252}}</string>
                <key>offset</key>
                <string>{124,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,163},{256,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,964},{266,250}}</string>
                <key>offset</key>
                <string>{119,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,162},{266,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,968},{258,252}}</string>
                <key>offset</key>
                <string>{123,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,161},{258,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,716},{248,254}}</string>
                <key>offset</key>
                <string>{128,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,161},{248,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,474},{242,254}}</string>
                <key>offset</key>
                <string>{130,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,161},{242,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,234},{236,254}}</string>
                <key>offset</key>
                <string>{134,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,161},{236,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,254}}</string>
                <key>offset</key>
                <string>{131,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,161},{228,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,968},{262,252}}</string>
                <key>offset</key>
                <string>{121,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,163},{262,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,232},{232,254}}</string>
                <key>offset</key>
                <string>{131,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,160},{232,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{228,254}}</string>
                <key>offset</key>
                <string>{133,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,160},{228,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,232},{234,252}}</string>
                <key>offset</key>
                <string>{130,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,161},{234,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,710},{246,254}}</string>
                <key>offset</key>
                <string>{124,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,160},{246,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,718},{248,252}}</string>
                <key>offset</key>
                <string>{124,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,162},{248,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,718},{248,252}}</string>
                <key>offset</key>
                <string>{128,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,163},{248,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,966},{250,252}}</string>
                <key>offset</key>
                <string>{118,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,164},{250,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,968},{258,252}}</string>
                <key>offset</key>
                <string>{122,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,163},{258,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1222},{256,258}}</string>
                <key>offset</key>
                <string>{128,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,157},{256,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1472},{264,264}}</string>
                <key>offset</key>
                <string>{124,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,150},{264,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{264,246}}</string>
                <key>offset</key>
                <string>{116,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,168},{264,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,474},{242,244}}</string>
                <key>offset</key>
                <string>{128,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,167},{242,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1218},{254,252}}</string>
                <key>offset</key>
                <string>{124,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,162},{254,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,714},{266,248}}</string>
                <key>offset</key>
                <string>{123,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,167},{266,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,472},{260,242}}</string>
                <key>offset</key>
                <string>{122,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,170},{260,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,718},{248,252}}</string>
                <key>offset</key>
                <string>{124,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,163},{248,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,718},{248,252}}</string>
                <key>offset</key>
                <string>{124,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,163},{248,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,466},{238,246}}</string>
                <key>offset</key>
                <string>{121,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,167},{238,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,466},{238,246}}</string>
                <key>offset</key>
                <string>{121,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,167},{238,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,234},{240,234}}</string>
                <key>offset</key>
                <string>{120,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,180},{240,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{240,228}}</string>
                <key>offset</key>
                <string>{120,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,185},{240,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{242,230}}</string>
                <key>offset</key>
                <string>{119,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,185},{242,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{242,230}}</string>
                <key>offset</key>
                <string>{119,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,185},{242,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{242,228}}</string>
                <key>offset</key>
                <string>{119,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,186},{242,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{246,230}}</string>
                <key>offset</key>
                <string>{117,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,184},{246,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{246,230}}</string>
                <key>offset</key>
                <string>{117,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,183},{246,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{248,232}}</string>
                <key>offset</key>
                <string>{116,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,181},{248,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{248,252}}</string>
                <key>offset</key>
                <string>{124,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,163},{248,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,234},{250,236}}</string>
                <key>offset</key>
                <string>{115,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,178},{250,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,234},{250,236}}</string>
                <key>offset</key>
                <string>{115,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,178},{250,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,234},{250,236}}</string>
                <key>offset</key>
                <string>{115,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,178},{250,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,236},{250,236}}</string>
                <key>offset</key>
                <string>{115,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,177},{250,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{256,232}}</string>
                <key>offset</key>
                <string>{112,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,182},{256,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,958},{248,250}}</string>
                <key>offset</key>
                <string>{124,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,164},{248,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1216},{256,252}}</string>
                <key>offset</key>
                <string>{128,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,161},{256,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,468},{240,256}}</string>
                <key>offset</key>
                <string>{120,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,157},{240,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,468},{240,256}}</string>
                <key>offset</key>
                <string>{120,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,157},{240,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{238,256}}</string>
                <key>offset</key>
                <string>{121,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,157},{238,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,472},{240,254}}</string>
                <key>offset</key>
                <string>{120,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,159},{240,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/2/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,466},{238,246}}</string>
                <key>offset</key>
                <string>{121,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,167},{238,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BiBei5.pvr</string>
            <key>size</key>
            <string>{1990,1752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f2ae7a206f678a2d40c8ce2d4a15115:6/6$</string>
            <key>textureFileName</key>
            <string>BiBei5.pvr</string>
        </dict>
    </dict>
</plist>
