<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BiBei/Left/0/aa0.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{266,274}}</string>
                <key>offset</key>
                <string>{-113,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,125},{266,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,272},{272,266}}</string>
                <key>offset</key>
                <string>{-116,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,138},{272,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,272},{272,266}}</string>
                <key>offset</key>
                <string>{-116,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,138},{272,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{272,268}}</string>
                <key>offset</key>
                <string>{-116,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,136},{272,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{272,268}}</string>
                <key>offset</key>
                <string>{-116,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,136},{272,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{272,268}}</string>
                <key>offset</key>
                <string>{-116,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,136},{272,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{272,268}}</string>
                <key>offset</key>
                <string>{-116,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,136},{272,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{272,268}}</string>
                <key>offset</key>
                <string>{-116,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,136},{272,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa24.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1618},{260,268}}</string>
                <key>offset</key>
                <string>{-110,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,135},{260,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,818},{258,270}}</string>
                <key>offset</key>
                <string>{-109,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,134},{258,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,818},{258,270}}</string>
                <key>offset</key>
                <string>{-109,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,134},{258,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa27.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{272,270}}</string>
                <key>offset</key>
                <string>{-116,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,134},{272,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{272,270}}</string>
                <key>offset</key>
                <string>{-116,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,134},{272,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1104},{272,268}}</string>
                <key>offset</key>
                <string>{-116,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,136},{272,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1104},{272,268}}</string>
                <key>offset</key>
                <string>{-116,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,136},{272,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1378},{272,268}}</string>
                <key>offset</key>
                <string>{-116,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,136},{272,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1378},{272,268}}</string>
                <key>offset</key>
                <string>{-116,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,136},{272,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1652},{256,268}}</string>
                <key>offset</key>
                <string>{-108,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,136},{256,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa10.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,818},{258,272}}</string>
                <key>offset</key>
                <string>{-127,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,125},{258,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa11.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,818},{258,272}}</string>
                <key>offset</key>
                <string>{-127,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,125},{258,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,280},{252,278}}</string>
                <key>offset</key>
                <string>{-130,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{252,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,280},{252,278}}</string>
                <key>offset</key>
                <string>{-130,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{252,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa14.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,832},{246,276}}</string>
                <key>offset</key>
                <string>{-133,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{246,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa15.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,832},{246,276}}</string>
                <key>offset</key>
                <string>{-133,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{246,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1620},{242,272}}</string>
                <key>offset</key>
                <string>{-135,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,131},{242,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1620},{242,272}}</string>
                <key>offset</key>
                <string>{-135,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,131},{242,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1348},{244,272}}</string>
                <key>offset</key>
                <string>{-134,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,131},{244,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1348},{244,272}}</string>
                <key>offset</key>
                <string>{-134,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,131},{244,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,810},{252,270}}</string>
                <key>offset</key>
                <string>{-130,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,132},{252,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,810},{252,270}}</string>
                <key>offset</key>
                <string>{-130,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,132},{252,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{268,272}}</string>
                <key>offset</key>
                <string>{-122,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,129},{268,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{268,272}}</string>
                <key>offset</key>
                <string>{-122,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,129},{268,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,276}}</string>
                <key>offset</key>
                <string>{-118,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{276,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,276}}</string>
                <key>offset</key>
                <string>{-118,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{276,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{272,274}}</string>
                <key>offset</key>
                <string>{-120,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{272,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{272,274}}</string>
                <key>offset</key>
                <string>{-120,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{272,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa30.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,270},{266,272}}</string>
                <key>offset</key>
                <string>{-123,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,128},{266,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa9.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,818},{258,272}}</string>
                <key>offset</key>
                <string>{-127,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,125},{258,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,540},{266,268}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,132},{266,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,838},{264,270}}</string>
                <key>offset</key>
                <string>{-121,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,132},{264,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,272},{266,270}}</string>
                <key>offset</key>
                <string>{-122,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,132},{266,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,540},{266,270}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,131},{266,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa13.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,544},{266,272}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,130},{266,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{266,274}}</string>
                <key>offset</key>
                <string>{-122,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,128},{266,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa20.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{266,274}}</string>
                <key>offset</key>
                <string>{-122,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,128},{266,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,544},{266,272}}</string>
                <key>offset</key>
                <string>{-122,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,129},{266,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa22.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1386},{264,270}}</string>
                <key>offset</key>
                <string>{-121,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,130},{264,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,812},{266,268}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,132},{266,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa24.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1078},{266,268}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,132},{266,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1078},{266,268}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,132},{266,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1082},{266,268}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,132},{266,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1348},{266,268}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,132},{266,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,272},{266,270}}</string>
                <key>offset</key>
                <string>{-122,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,132},{266,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1332},{266,266}}</string>
                <key>offset</key>
                <string>{-122,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,134},{266,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1350},{266,268}}</string>
                <key>offset</key>
                <string>{-122,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,133},{266,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1064},{266,268}}</string>
                <key>offset</key>
                <string>{-122,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,133},{266,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,554},{276,252}}</string>
                <key>offset</key>
                <string>{114,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,163},{276,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1600},{224,252}}</string>
                <key>offset</key>
                <string>{132,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,161},{224,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{222,254}}</string>
                <key>offset</key>
                <string>{134,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,160},{222,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{222,254}}</string>
                <key>offset</key>
                <string>{134,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,160},{222,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,560},{276,260}}</string>
                <key>offset</key>
                <string>{114,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,155},{276,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1622},{268,264}}</string>
                <key>offset</key>
                <string>{118,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,151},{268,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1652},{256,268}}</string>
                <key>offset</key>
                <string>{128,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,147},{256,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1110},{274,252}}</string>
                <key>offset</key>
                <string>{119,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,161},{274,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,274},{278,250}}</string>
                <key>offset</key>
                <string>{114,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,165},{278,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{276,256}}</string>
                <key>offset</key>
                <string>{115,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,159},{276,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BiBei4.pvr</string>
            <key>size</key>
            <string>{1878,1910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f2ae7a206f678a2d40c8ce2d4a15115:5/6$</string>
            <key>textureFileName</key>
            <string>BiBei4.pvr</string>
        </dict>
    </dict>
</plist>
