<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BiBei/Boss/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{360,346}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,54},{360,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/0/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{294,290}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,66},{294,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/0/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{324,330}}</string>
                <key>offset</key>
                <string>{-24,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,26},{324,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{324,336}}</string>
                <key>offset</key>
                <string>{-29,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,46},{324,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/0/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1136},{288,278}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,78},{288,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/0/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{298,282}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,74},{298,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/0/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{294,274}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,82},{294,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/0/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,340},{298,288}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,68},{298,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/3/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,354}}</string>
                <key>offset</key>
                <string>{32,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,64},{360,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1416},{272,278}}</string>
                <key>offset</key>
                <string>{-116,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,126},{272,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/0/aa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1416},{272,278}}</string>
                <key>offset</key>
                <string>{-116,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,126},{272,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,556},{258,284}}</string>
                <key>offset</key>
                <string>{-127,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,116},{258,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,556},{258,284}}</string>
                <key>offset</key>
                <string>{-127,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,116},{258,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,842},{262,282}}</string>
                <key>offset</key>
                <string>{-125,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{262,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,842},{262,282}}</string>
                <key>offset</key>
                <string>{-125,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{262,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa0.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1696},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1696},{272,286}}</string>
                <key>offset</key>
                <string>{-120,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{272,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1400},{272,282}}</string>
                <key>offset</key>
                <string>{-120,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,124},{272,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1674},{272,282}}</string>
                <key>offset</key>
                <string>{-120,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{272,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1696},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1696},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1696},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1696},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,530},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,816},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,816},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1696},{272,286}}</string>
                <key>offset</key>
                <string>{-120,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{272,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,282},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,282},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,816},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,816},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1102},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1126},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1126},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1388},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1388},{272,284}}</string>
                <key>offset</key>
                <string>{-120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{272,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1400},{272,282}}</string>
                <key>offset</key>
                <string>{-120,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,124},{272,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa16.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,856},{268,278}}</string>
                <key>offset</key>
                <string>{-122,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{268,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,556},{284,248}}</string>
                <key>offset</key>
                <string>{110,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,167},{284,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1136},{278,254}}</string>
                <key>offset</key>
                <string>{113,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,161},{278,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,576},{256,278}}</string>
                <key>offset</key>
                <string>{124,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,136},{256,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,278},{282,250}}</string>
                <key>offset</key>
                <string>{111,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,163},{282,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,280},{290,248}}</string>
                <key>offset</key>
                <string>{107,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,167},{290,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{294,276}}</string>
                <key>offset</key>
                <string>{109,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,142},{294,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{292,278}}</string>
                <key>offset</key>
                <string>{110,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{292,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{292,278}}</string>
                <key>offset</key>
                <string>{110,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{292,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,576},{290,278}}</string>
                <key>offset</key>
                <string>{111,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,141},{290,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{292,278}}</string>
                <key>offset</key>
                <string>{110,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{292,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,856},{290,278}}</string>
                <key>offset</key>
                <string>{111,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,141},{290,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,630},{292,278}}</string>
                <key>offset</key>
                <string>{110,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{292,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1470},{290,280}}</string>
                <key>offset</key>
                <string>{111,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,139},{290,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,294},{290,280}}</string>
                <key>offset</key>
                <string>{111,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,139},{290,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,910},{292,278}}</string>
                <key>offset</key>
                <string>{110,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{292,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1136},{290,278}}</string>
                <key>offset</key>
                <string>{111,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,141},{290,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1190},{292,278}}</string>
                <key>offset</key>
                <string>{110,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{292,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1416},{290,278}}</string>
                <key>offset</key>
                <string>{111,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,141},{290,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/3/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1416},{290,278}}</string>
                <key>offset</key>
                <string>{111,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,141},{290,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BiBei3.pvr</string>
            <key>size</key>
            <string>{2033,1970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f2ae7a206f678a2d40c8ce2d4a15115:4/6$</string>
            <key>textureFileName</key>
            <string>BiBei3.pvr</string>
        </dict>
    </dict>
</plist>
