<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BiBei/Boss/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1686},{360,358}}</string>
                <key>offset</key>
                <string>{32,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,64},{360,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1686},{360,358}}</string>
                <key>offset</key>
                <string>{36,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,64},{360,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{486,306}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,116},{486,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{486,306}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,116},{486,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1098},{396,318}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,104},{396,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{486,306}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,116},{486,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1098},{396,318}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,104},{396,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1098},{396,318}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,104},{396,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{486,306}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,116},{486,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1098},{396,318}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,104},{396,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{486,306}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,116},{486,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1098},{396,318}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,104},{396,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{486,306}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,116},{486,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/2/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1098},{396,318}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,104},{396,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1686},{360,358}}</string>
                <key>offset</key>
                <string>{32,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,61},{360,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/3/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1686},{360,358}}</string>
                <key>offset</key>
                <string>{31,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,60},{360,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1052},{464,364}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{464,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,796},{466,362}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{466,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{476,362}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{476,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,366},{476,362}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{476,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,434},{474,360}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{474,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{488,360}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,63},{488,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{464,346}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,77},{464,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{482,430}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1686},{392,360}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,66},{392,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,336}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,94},{496,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,364},{482,324}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,106},{482,324}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{482,322}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,108},{482,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,690},{474,360}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,74},{474,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,730},{468,366}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{468,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Boss/4/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{472,364}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{472,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa7.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1418},{266,278}}</string>
                <key>offset</key>
                <string>{-123,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,121},{266,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/1/aa8.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1418},{266,278}}</string>
                <key>offset</key>
                <string>{-123,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,121},{266,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/2/aa12.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1418},{266,282}}</string>
                <key>offset</key>
                <string>{-123,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,124},{266,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1418},{266,276}}</string>
                <key>offset</key>
                <string>{-122,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,128},{266,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1418},{266,278}}</string>
                <key>offset</key>
                <string>{-122,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,126},{266,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Left/3/aa18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1418},{266,278}}</string>
                <key>offset</key>
                <string>{-122,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,125},{266,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1160},{280,256}}</string>
                <key>offset</key>
                <string>{112,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,159},{280,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>BiBei/Right/1/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1160},{282,256}}</string>
                <key>offset</key>
                <string>{115,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,156},{282,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BiBei0.pvr</string>
            <key>size</key>
            <string>{1974,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f2ae7a206f678a2d40c8ce2d4a15115:1/6$</string>
            <key>textureFileName</key>
            <string>BiBei0.pvr</string>
        </dict>
    </dict>
</plist>
