<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,110},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,216},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,110},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,110},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,386},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,294},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,202},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,110},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,478},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,386},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,294},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,202},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,110},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,696},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,604},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,110},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,110},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,110},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,924},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,836},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,378},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,110},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,200},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,290},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,650},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,470},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,562},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,748},{82,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,930},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,930},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,840},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,380},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,110},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,200},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,290},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,472},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,658},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,568},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,750},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,382},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,110},{84,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,522},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,522},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,440},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,464},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,440},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,358},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,376},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,358},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,276},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,288},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,276},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,194},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,194},{82,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,510},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,510},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,416},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,322},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,910},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,816},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,722},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,628},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,922},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,828},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,734},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,534},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,640},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,200},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,200},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,292},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,660},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,478},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,570},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,878},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,788},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,878},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,788},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,110},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,202},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,202},{84,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,848},{92,96}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,848},{92,96}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,852},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,746},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,640},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,534},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,428},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,640},{90,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{90,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,534},{92,100}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,744},{98,90}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{98,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,428},{100,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,322},{100,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,322},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,216},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,110},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resources_2.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54e556d5f7adddcad3c52e35ebd6dcf9$</string>
            <key>textureFileName</key>
            <string>resources_2.pvr</string>
        </dict>
    </dict>
</plist>
