<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,410},{398,84}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{398,84}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,618},{398,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{398,80}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,792},{396,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{396,82}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,704},{396,82}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{396,82}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,186},{400,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{400,82}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,444},{398,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{398,82}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,532},{398,80}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{398,80}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,880},{396,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{396,80}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,274},{400,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{400,80}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,96},{400,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{400,84}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,360},{400,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{400,78}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,4},{400,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{400,84}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>lightning_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{400,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{400,86}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resources_4.pvr</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be72a6e377925ce5abc72699091ceda8$</string>
            <key>textureFileName</key>
            <string>resources_4.pvr</string>
        </dict>
    </dict>
</plist>
