<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,846},{158,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,127},{158,158}}</string>
                <key>sourceSize</key>
                <string>{416,414}</string>
            </dict>
            <key>flame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,680},{160,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,126},{160,160}}</string>
                <key>sourceSize</key>
                <string>{416,414}</string>
            </dict>
            <key>flame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,514},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,127},{160,160}}</string>
                <key>sourceSize</key>
                <string>{416,414}</string>
            </dict>
            <key>flame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,121},{172,172}}</string>
                <key>sourceSize</key>
                <string>{416,414}</string>
            </dict>
            <key>flame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,348},{160,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,127},{160,160}}</string>
                <key>sourceSize</key>
                <string>{416,414}</string>
            </dict>
            <key>flame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,182},{160,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,126},{160,160}}</string>
                <key>sourceSize</key>
                <string>{416,414}</string>
            </dict>
            <key>iceAnimation_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,892},{98,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,46},{98,97}}</string>
                <key>sourceSize</key>
                <string>{198,189}</string>
            </dict>
            <key>iceAnimation_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,681},{100,101}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,42},{100,101}}</string>
                <key>sourceSize</key>
                <string>{198,189}</string>
            </dict>
            <key>iceAnimation_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,788},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,46},{98,97}}</string>
                <key>sourceSize</key>
                <string>{198,189}</string>
            </dict>
            <key>iceAnimation_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,572},{100,103}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{100,103}}</string>
                <key>sourceSize</key>
                <string>{198,189}</string>
            </dict>
            <key>iceAnimation_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,544},{96,97}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{96,97}}</string>
                <key>sourceSize</key>
                <string>{198,189}</string>
            </dict>
            <key>iceAnimation_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,438},{100,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,46},{100,97}}</string>
                <key>sourceSize</key>
                <string>{198,189}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,640},{140,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{140,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,572},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{116,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,4},{128,130}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{128,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,788},{130,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{130,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,788},{132,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{132,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,300},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{132,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,488},{140,136}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{140,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,488},{146,142}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{146,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,336},{146,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,182},{148,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,640},{140,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{140,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,846},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,4},{144,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,640},{140,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{140,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,158},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{134,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,4},{136,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{136,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,336},{138,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{138,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,146},{132,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{132,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>star_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,438},{128,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{128,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resources_6.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5664bc4fbfb1cee8614499243b125792$</string>
            <key>textureFileName</key>
            <string>resources_6.pvr</string>
        </dict>
    </dict>
</plist>
