<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sy_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,31}</string>
                <key>spriteSize</key>
                <string>{682,228}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{651,1},{682,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,30}</string>
                <key>spriteSize</key>
                <string>{648,194}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{648,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,42}</string>
                <key>spriteSize</key>
                <string>{798,280}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{647,273},{798,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,43}</string>
                <key>spriteSize</key>
                <string>{828,282}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{1,555},{828,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,13}</string>
                <key>spriteSize</key>
                <string>{820,344}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{821,1457},{820,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{790,384}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{1643,1047},{790,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sy_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,43}</string>
                <key>spriteSize</key>
                <string>{790,282}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{831,555},{790,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,70}</string>
                <key>spriteSize</key>
                <string>{644,270}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{1335,1},{644,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,47}</string>
                <key>spriteSize</key>
                <string>{644,296}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{1,197},{644,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,59}</string>
                <key>spriteSize</key>
                <string>{772,332}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{1623,273},{772,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,61}</string>
                <key>spriteSize</key>
                <string>{818,320}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{1,1457},{818,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,61}</string>
                <key>spriteSize</key>
                <string>{794,318}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{789,1137},{794,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,61}</string>
                <key>spriteSize</key>
                <string>{786,322}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{1,1123},{786,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,52}</string>
                <key>spriteSize</key>
                <string>{776,296}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{793,839},{776,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sy_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,43}</string>
                <key>spriteSize</key>
                <string>{790,282}</string>
                <key>spriteSourceSize</key>
                <string>{864,450}</string>
                <key>textureRect</key>
                <string>{{1,839},{790,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_sy.png</string>
            <key>size</key>
            <string>{2028,1838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:081aa3f8910fde147a45c56503b11824:49d9f77438711963a90e56f6397706c1:44849342361826e964043e5bc16afd44$</string>
            <key>textureFileName</key>
            <string>anim_sy.png</string>
        </dict>
    </dict>
</plist>
