<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-11}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{2014,570},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-14}</string>
                <key>spriteSize</key>
                <string>{226,120}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{3755,1},{226,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{2583,1},{584,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{3169,1},{584,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{2583,393},{584,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{3169,393},{584,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{1213,1343},{584,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{1605,1315},{584,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{1996,662},{584,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{1997,1248},{584,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{2388,785},{584,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{2974,785},{584,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{2389,1177},{584,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{2975,1177},{584,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,390}</string>
                <key>spriteSourceSize</key>
                <string>{584,390}</string>
                <key>textureRect</key>
                <string>{{2804,1569},{584,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{111,113}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{3755,229},{111,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{363,363}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{3390,1569},{363,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,669}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{1,1},{669,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,669}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{1,672},{669,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,669}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{672,1},{669,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,669}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{672,672},{669,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{391,391}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{3561,1160},{391,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{373,373}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{3560,785},{373,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{399,413}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{2389,1569},{399,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sx_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{567,567}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{2014,1},{567,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{583,583}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{628,1343},{583,583}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{625,625}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{1,1343},{625,625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{651,651}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{1343,662},{651,651}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{669,659}</string>
                <key>spriteSourceSize</key>
                <string>{669,669}</string>
                <key>textureRect</key>
                <string>{{1343,1},{669,659}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_sx.png</string>
            <key>size</key>
            <string>{3953,1969}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17814545ce2c087eca813acdd2edd2b1:f6e447e3fef55cdfb7cc377d36c41020:775389748c2ea9985fe8769ffe08b1c9$</string>
            <key>textureFileName</key>
            <string>anim_sx.png</string>
        </dict>
    </dict>
</plist>
