<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zidan_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidan_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_bullet.png</string>
            <key>size</key>
            <string>{2042,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72549a5c1ce59ad0e1a7d0d1559a0497$</string>
            <key>textureFileName</key>
            <string>new_bullet.png</string>
        </dict>
    </dict>
</plist>
