<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baohuzao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,232},{228,228}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{228,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{228,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,232},{228,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{228,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,232},{228,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,232},{226,228}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{226,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{228,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,232},{228,228}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{228,228}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,232},{228,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{228,228}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{228,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>baohuzao_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,230}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{228,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_king_effect.png</string>
            <key>size</key>
            <string>{1612,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aca64c510f2b6f5fae3344abf21a37c$</string>
            <key>textureFileName</key>
            <string>new_king_effect.png</string>
        </dict>
    </dict>
</plist>
