<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuwang1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,192},{184,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{184,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,182},{174,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{174,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,174},{168,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{168,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{184,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{174,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{174,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,174},{168,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{168,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{184,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{184,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,182},{174,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{174,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{168,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{168,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{184,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{174,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{174,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yuwang4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{168,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{168,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_net.png</string>
            <key>size</key>
            <string>{1066,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f94e6888adcc38cb4bb5fbe7cebdc31$</string>
            <key>textureFileName</key>
            <string>new_net.png</string>
        </dict>
    </dict>
</plist>
