<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newlink_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{1264,100}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,59},{1264,100}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{1264,108}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{1264,108}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{1264,112}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,57},{1264,112}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{1268,82}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,67},{1268,82}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{1264,90}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,72},{1264,90}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1272,110}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{1272,110}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{1268,96}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,67},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1272,110}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{1272,110}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{1264,90}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,72},{1264,90}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{1268,82}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,67},{1268,82}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{1264,112}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,57},{1264,112}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>newlink_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{1264,108}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{1264,108}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_link_effect.png</string>
            <key>size</key>
            <string>{1276,714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb19dfbf20f97fab2647b7060eae1d6$</string>
            <key>textureFileName</key>
            <string>new_link_effect.png</string>
        </dict>
    </dict>
</plist>
