<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene0_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1914},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1816},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,2},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,2},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{1268,98}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,98}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{1268,106}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,106}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{1268,112}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,112}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1268,112}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,112}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{1268,102}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,102}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,2},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1326},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
            <key>scene0_effect_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{1268,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,96}}</string>
                <key>sourceSize</key>
                <string>{1280,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_effect_0.png</string>
            <key>size</key>
            <string>{1762,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da72bff261487944a191f53601ddf36e$</string>
            <key>textureFileName</key>
            <string>scene_effect_0.png</string>
        </dict>
    </dict>
</plist>
