<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>z0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,606},{154,290}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{154,290}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,322},{162,296}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{162,296}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{176,304}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{176,304}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{176,300}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{176,300}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,322}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{174,322}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{168,322}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{168,322}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,318}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,318}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{168,312}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{168,312}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{172,310}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{172,310}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{172,304}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{172,304}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2},{174,296}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{174,296}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,2},{168,302}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{168,302}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,308},{168,296}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{168,296}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,308},{162,304}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{162,304}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,582},{156,300}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{156,300}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,322},{150,308}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{150,308}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,304},{158,304}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{158,304}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,2},{170,300}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{170,300}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,322},{164,294}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{164,294}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,316},{168,290}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{168,290}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,620},{162,282}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{162,282}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,622},{154,280}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{154,280}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,620},{148,278}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{148,278}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,620},{140,272}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{140,272}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,618},{152,264}}</string>
                <key>offset</key>
                <string>{-11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{152,264}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,608},{154,276}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{154,276}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,306},{168,274}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{168,274}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{162,318}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{162,318}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,326},{156,312}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{156,312}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,314},{150,306}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{150,306}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,582},{142,298}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{142,298}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,610},{136,292}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{136,292}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,2},{128,284}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{128,284}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,288},{122,278}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{122,278}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,632},{114,270}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{114,270}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,304},{108,262}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{108,262}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,640},{100,256}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{100,256}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{92,248}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,29},{92,248}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
            <key>z0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,650},{86,242}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{86,242}}</string>
                <key>sourceSize</key>
                <string>{180,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sceneEffect0.png</string>
            <key>size</key>
            <string>{2038,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20501bdfbfd650c31a9cfbfc11068fdb$</string>
            <key>textureFileName</key>
            <string>sceneEffect0.png</string>
        </dict>
    </dict>
</plist>
