<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal13_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,448},{360,426}}</string>
                <key>offset</key>
                <string>{43,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,16},{360,426}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,440},{362,422}}</string>
                <key>offset</key>
                <string>{42,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,15},{362,422}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,434},{358,414}}</string>
                <key>offset</key>
                <string>{40,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,16},{358,414}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1364},{392,408}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,17},{392,408}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3254,2},{418,400}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{418,400}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3094,418},{420,394}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{420,394}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3516,456},{410,388}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{410,388}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3482,846},{380,388}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{380,388}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3094,814},{386,388}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,20},{386,388}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2280,836},{402,392}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{402,392}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2688,426},{404,398}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{404,398}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2280,430},{406,404}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{406,404}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{404,410}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{404,410}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2846,2},{406,414}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{406,414}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2438,2},{406,422}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{406,422}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,2},{404,426}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{404,426}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{402,430}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{402,430}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{400,436}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{400,436}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,458},{400,442}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{400,442}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{398,444}}</string>
                <key>offset</key>
                <string>{24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,23},{398,444}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,912},{392,450}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{392,450}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{3674,2},{370,452}}</string>
                <key>offset</key>
                <string>{38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,27},{370,452}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,902},{370,448}}</string>
                <key>offset</key>
                <string>{38,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,28},{370,448}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{398,450}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{398,450}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{408,452}}</string>
                <key>offset</key>
                <string>{19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{408,452}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,454}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{414,454}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{406,454}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{406,454}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,458},{378,440}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,22},{378,440}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1352},{366,434}}</string>
                <key>offset</key>
                <string>{40,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,20},{366,434}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,900},{364,432}}</string>
                <key>offset</key>
                <string>{41,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,17},{364,432}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1334},{360,426}}</string>
                <key>offset</key>
                <string>{43,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,16},{360,426}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal13_00_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1334},{360,426}}</string>
                <key>offset</key>
                <string>{43,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,16},{360,426}}</string>
                <key>sourceSize</key>
                <string>{446,480}</string>
            </dict>
            <key>animal14_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{3864,1132},{180,284}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{180,284}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3296,1204},{184,286}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{184,286}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,864},{190,286}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{190,286}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2684,1128},{194,286}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{194,286}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1168},{198,286}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{198,286}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2064,1408},{202,284}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{202,284}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2880,1112},{204,284}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{204,284}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2880,826},{206,284}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{206,284}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3482,1236},{208,282}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{208,282}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3086,1204},{208,282}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{208,282}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,864},{208,280}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{208,280}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2070,850},{208,278}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{208,278}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2280,1230},{208,276}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{208,276}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2070,1130},{208,276}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{208,276}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,1508},{206,280}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{206,280}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2684,836},{194,290}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{194,290}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2490,1230},{184,282}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{184,282}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3862,1418},{182,274}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{182,274}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1152},{186,256}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{186,256}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,1508},{186,252}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{186,252}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2456,1514},{186,246}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{186,246}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2644,1514},{182,248}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{182,248}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2986,1488},{176,254}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{176,254}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1520},{168,268}}</string>
                <key>offset</key>
                <string>{22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{168,268}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2828,1488},{156,278}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,4},{156,278}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1146},{140,286}}</string>
                <key>offset</key>
                <string>{36,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,2},{140,286}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,876},{132,290}}</string>
                <key>offset</key>
                <string>{40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{132,290}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{3164,1492},{136,288}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,10},{136,288}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,1410},{152,288}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,12},{152,288}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{3692,1236},{168,290}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{168,290}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
            <key>animal14_00_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3864,846},{180,284}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{180,284}}</string>
                <key>sourceSize</key>
                <string>{212,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal3.png</string>
            <key>size</key>
            <string>{4046,1790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:654cf4bf41b2dfbab28dee5734861f06$</string>
            <key>textureFileName</key>
            <string>animal3.png</string>
        </dict>
    </dict>
</plist>
