<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal16_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{496,216}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{496,216}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,216}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{496,216}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{496,218}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{496,218}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{496,218}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{496,218}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,220},{494,218}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{494,218}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{494,218}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{494,218}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{494,226}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{494,226}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1116},{496,226}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{496,226}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,890},{496,224}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{496,224}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1114},{498,224}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{498,224}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,890},{498,224}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{498,224}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{500,222}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{500,222}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,666},{498,222}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{498,222}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,666},{498,222}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{498,222}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,890},{496,222}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{496,222}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{496,222}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{496,222}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,444},{494,220}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{494,220}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,222},{494,220}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{494,220}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,444},{500,220}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{500,220}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,222},{494,220}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{494,220}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,444},{496,220}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{496,220}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,666},{496,222}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{496,222}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{500,220}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{500,220}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
            <key>animal16_00_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1116},{500,224}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{500,224}}</string>
                <key>sourceSize</key>
                <string>{500,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal4.png</string>
            <key>size</key>
            <string>{2002,1344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5502b57c7fa18b58971ef1118fe96222$</string>
            <key>textureFileName</key>
            <string>animal4.png</string>
        </dict>
    </dict>
</plist>
