<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DinosaurScoreShower_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,0},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,138},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,138},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,138},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,276},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,276},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,276},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,414},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,414},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,414},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,552},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,552},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,552},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
            <key>DinosaurScoreShower_001_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,690},{356,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,138}}</string>
                <key>sourceSize</key>
                <string>{356,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cj_box.png</string>
            <key>size</key>
            <string>{1424,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4724d048bfbabedd5a7066770cc7354b$</string>
            <key>textureFileName</key>
            <string>cj_box.png</string>
        </dict>
    </dict>
</plist>
