<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{3018,2004},{330,298}}</string>
                <key>offset</key>
                <string>{-13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,163},{330,298}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2040},{332,300}}</string>
                <key>offset</key>
                <string>{-13,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,161},{332,300}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2040},{334,304}}</string>
                <key>offset</key>
                <string>{-11,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,161},{334,304}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2668,2024},{338,320}}</string>
                <key>offset</key>
                <string>{-10,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,161},{338,320}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2030},{340,334}}</string>
                <key>offset</key>
                <string>{-8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,162},{340,334}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2322,1962},{344,344}}</string>
                <key>offset</key>
                <string>{-7,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,164},{344,344}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2522,1008},{376,362}}</string>
                <key>offset</key>
                <string>{10,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,156},{376,362}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2172,584},{404,398}}</string>
                <key>offset</key>
                <string>{23,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,109},{404,398}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{404,424}}</string>
                <key>offset</key>
                <string>{23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{404,424}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2578,570},{382,436}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,25},{382,436}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1358},{358,454}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,7},{358,454}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1358},{350,458}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,3},{350,458}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1584},{358,454}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,7},{358,454}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2962,562},{378,440}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,21},{378,440}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1652},{400,416}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{400,416}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1634},{406,404}}</string>
                <key>offset</key>
                <string>{25,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,93},{406,404}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2128,984},{392,370}}</string>
                <key>offset</key>
                <string>{17,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,137},{392,370}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2290,1372},{360,350}}</string>
                <key>offset</key>
                <string>{1,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,168},{360,350}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,2004},{340,346}}</string>
                <key>offset</key>
                <string>{-9,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,167},{340,346}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2988,1356},{336,334}}</string>
                <key>offset</key>
                <string>{-10,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,167},{336,334}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3326,1184},{334,308}}</string>
                <key>offset</key>
                <string>{-11,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,165},{334,308}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{3352,1804},{332,296}}</string>
                <key>offset</key>
                <string>{-12,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,165},{332,296}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{3686,1784},{330,298}}</string>
                <key>offset</key>
                <string>{-13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,163},{330,298}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_01_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{3686,1484},{330,298}}</string>
                <key>offset</key>
                <string>{-13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,163},{330,298}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{3662,1184},{330,298}}</string>
                <key>offset</key>
                <string>{-13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,163},{330,298}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3018,1692},{332,310}}</string>
                <key>offset</key>
                <string>{-13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,162},{332,310}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2652,1372},{334,350}}</string>
                <key>offset</key>
                <string>{-11,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,161},{334,350}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,790},{402,384}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{402,384}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,584},{416,386}}</string>
                <key>offset</key>
                <string>{-12,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,108},{416,386}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1202},{422,380}}</string>
                <key>offset</key>
                <string>{-11,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,106},{422,380}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,412},{428,394}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,103},{428,394}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{434,406}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,100},{434,406}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{438,408}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,98},{438,408}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,416},{442,410}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,96},{442,410}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{442,412}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,94},{442,412}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,412}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,94},{444,412}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{442,412}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,94},{442,412}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{442,410}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,96},{442,410}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{438,408}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,98},{438,408}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,828},{434,406}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,100},{434,406}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1236},{430,396}}</string>
                <key>offset</key>
                <string>{-8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,101},{430,396}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,808},{426,392}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,105},{426,392}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,410},{420,378}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,108},{420,378}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3342,798},{414,384}}</string>
                <key>offset</key>
                <string>{-12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,110},{414,384}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,972},{400,384}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,134},{400,384}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2900,1008},{332,346}}</string>
                <key>offset</key>
                <string>{-12,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,165},{332,346}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{3352,1494},{330,308}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,164},{330,308}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_02_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2686,1724},{330,298}}</string>
                <key>offset</key>
                <string>{-13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,163},{330,298}}</string>
                <key>sourceSize</key>
                <string>{480,518}</string>
            </dict>
            <key>BOSS_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3372,284},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3372,284},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3372,284},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3372,284},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,1818},{292,184}}</string>
                <key>offset</key>
                <string>{100,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,18},{292,184}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2290,1724},{394,236}}</string>
                <key>offset</key>
                <string>{44,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,14},{394,236}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2078},{522,286}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{522,286}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,2},{534,276}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{534,276}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2864,2},{536,280}}</string>
                <key>offset</key>
                <string>{-32,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{536,280}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2316,290},{508,278}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{508,278}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,298},{524,284}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{524,284}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2316,2},{546,286}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{546,286}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,2},{546,294}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{546,294}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2864,284},{506,276}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{506,276}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,280},{498,254}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,19},{498,254}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{3372,536},{458,260}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,20},{458,260}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2070},{440,270}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,30},{440,270}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1814},{306,214}}</string>
                <key>offset</key>
                <string>{88,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,29},{306,214}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3350,2102},{228,162}}</string>
                <key>offset</key>
                <string>{146,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,26},{228,162}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3350,2102},{228,162}}</string>
                <key>offset</key>
                <string>{146,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,26},{228,162}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{3350,2102},{228,162}}</string>
                <key>offset</key>
                <string>{146,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,26},{228,162}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{3372,284},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{3372,284},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>BOSS_03_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{3372,284},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CJ_BOSS.png</string>
            <key>size</key>
            <string>{4018,2366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90d39c52fb5917b960ca5a34b298fe8e$</string>
            <key>textureFileName</key>
            <string>CJ_BOSS.png</string>
        </dict>
    </dict>
</plist>
