<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2047,225},{1,1}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>~ActiveIcon_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,582},{275,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{275,219}}</string>
                <key>sourceSize</key>
                <string>{275,221}</string>
            </dict>
            <key>~ActiveIcon_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1821},{275,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,221}}</string>
                <key>sourceSize</key>
                <string>{275,221}</string>
            </dict>
            <key>~ActiveIcon_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,1005},{280,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,223}}</string>
                <key>sourceSize</key>
                <string>{280,223}</string>
            </dict>
            <key>~ActiveIcon_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1229},{280,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,222}}</string>
                <key>sourceSize</key>
                <string>{280,222}</string>
            </dict>
            <key>~ActiveIcon_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1391},{277,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,225}}</string>
                <key>sourceSize</key>
                <string>{277,225}</string>
            </dict>
            <key>~ActiveIcon_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,989},{281,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,221}}</string>
                <key>sourceSize</key>
                <string>{281,221}</string>
            </dict>
            <key>~ActiveIcon_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,781},{284,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,223}}</string>
                <key>sourceSize</key>
                <string>{284,223}</string>
            </dict>
            <key>~ActiveIcon_000_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,553},{290,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,227}}</string>
                <key>sourceSize</key>
                <string>{290,227}</string>
            </dict>
            <key>~ActiveIcon_000_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,764},{292,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,230}}</string>
                <key>sourceSize</key>
                <string>{292,230}</string>
            </dict>
            <key>~ActiveIcon_000_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,366},{293,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,231}}</string>
                <key>sourceSize</key>
                <string>{293,231}</string>
            </dict>
            <key>~ActiveIcon_000_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1160},{291,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,230}}</string>
                <key>sourceSize</key>
                <string>{291,230}</string>
            </dict>
            <key>~ActiveIcon_001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1785},{275,263}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{275,263}}</string>
                <key>sourceSize</key>
                <string>{275,269}</string>
            </dict>
            <key>~ActiveIcon_001_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1794},{274,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,242}}</string>
                <key>sourceSize</key>
                <string>{274,242}</string>
            </dict>
            <key>~ActiveIcon_001_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1794},{272,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,243}}</string>
                <key>sourceSize</key>
                <string>{272,243}</string>
            </dict>
            <key>~ActiveIcon_001_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,699},{275,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,264}}</string>
                <key>sourceSize</key>
                <string>{275,264}</string>
            </dict>
            <key>~ActiveIcon_001_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,748},{322,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,356}}</string>
                <key>sourceSize</key>
                <string>{322,356}</string>
            </dict>
            <key>~ActiveIcon_001_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1131},{343,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,365}}</string>
                <key>sourceSize</key>
                <string>{343,365}</string>
            </dict>
            <key>~ActiveIcon_001_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{360,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,364}}</string>
                <key>sourceSize</key>
                <string>{360,364}</string>
            </dict>
            <key>~ActiveIcon_001_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{364,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,374}}</string>
                <key>sourceSize</key>
                <string>{364,374}</string>
            </dict>
            <key>~ActiveIcon_001_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{366,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,369}}</string>
                <key>sourceSize</key>
                <string>{366,369}</string>
            </dict>
            <key>~ActiveIcon_001_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,375},{359,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,372}}</string>
                <key>sourceSize</key>
                <string>{359,372}</string>
            </dict>
            <key>~ActiveIcon_001_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,748},{342,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,382}}</string>
                <key>sourceSize</key>
                <string>{342,382}</string>
            </dict>
            <key>~ActiveIcon_001_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,0},{355,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,365}}</string>
                <key>sourceSize</key>
                <string>{355,365}</string>
            </dict>
            <key>~ActiveIcon_001_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,375},{295,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,328}}</string>
                <key>sourceSize</key>
                <string>{295,328}</string>
            </dict>
            <key>~ActiveIcon_001_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,370},{291,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,328}}</string>
                <key>sourceSize</key>
                <string>{291,328}</string>
            </dict>
            <key>~ActiveIcon_001_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1445},{319,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,339}}</string>
                <key>sourceSize</key>
                <string>{319,339}</string>
            </dict>
            <key>~ActiveIcon_001_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1105},{324,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,339}}</string>
                <key>sourceSize</key>
                <string>{324,339}</string>
            </dict>
            <key>~ActiveIcon_001_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1497},{343,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,339}}</string>
                <key>sourceSize</key>
                <string>{343,339}</string>
            </dict>
            <key>~ActiveIcon_001_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,0},{388,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,328}}</string>
                <key>sourceSize</key>
                <string>{388,328}</string>
            </dict>
            <key>~ActiveIcon_001_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,329},{373,223}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{373,223}}</string>
                <key>sourceSize</key>
                <string>{373,249}</string>
            </dict>
            <key>~BroachCannonAttNode_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1609},{184,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,175}}</string>
                <key>sourceSize</key>
                <string>{184,177}</string>
            </dict>
            <key>~BroachCannonAttNode_001_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,553},{236,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,209}}</string>
                <key>sourceSize</key>
                <string>{236,209}</string>
            </dict>
            <key>~BroachCannonGunHead_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1617},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>~BroachGainScore_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1785},{110,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,51}}</string>
                <key>sourceSize</key>
                <string>{110,51}</string>
            </dict>
            <key>~TurnTableFish_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,366},{206,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,215}}</string>
                <key>sourceSize</key>
                <string>{206,215}</string>
            </dict>
            <key>~TurnTableFish_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1044},{244,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{244,268}}</string>
                <key>sourceSize</key>
                <string>{244,270}</string>
            </dict>
            <key>~fish01_001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,763},{67,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,17}}</string>
                <key>sourceSize</key>
                <string>{67,17}</string>
            </dict>
            <key>~fish02_001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,553},{71,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,28}}</string>
                <key>sourceSize</key>
                <string>{71,28}</string>
            </dict>
            <key>~fish03_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,704},{68,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,43}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>~fish03_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,704},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>~fish03_001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,704},{71,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,43}}</string>
                <key>sourceSize</key>
                <string>{71,43}</string>
            </dict>
            <key>~fish03_001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,704},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>~fish04_001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,131},{210,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,93}}</string>
                <key>sourceSize</key>
                <string>{210,93}</string>
            </dict>
            <key>~fish04_001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,455},{222,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,97}}</string>
                <key>sourceSize</key>
                <string>{222,97}</string>
            </dict>
            <key>~fish05_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,1980},{102,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,65}}</string>
                <key>sourceSize</key>
                <string>{102,65}</string>
            </dict>
            <key>~fish06_002_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,1980},{137,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,68}}</string>
                <key>sourceSize</key>
                <string>{137,68}</string>
            </dict>
            <key>~fish07_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1388},{296,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,165}}</string>
                <key>sourceSize</key>
                <string>{296,165}</string>
            </dict>
            <key>~fish07_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,995},{299,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,164}}</string>
                <key>sourceSize</key>
                <string>{299,164}</string>
            </dict>
            <key>~fish07_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1554},{295,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,156}}</string>
                <key>sourceSize</key>
                <string>{295,156}</string>
            </dict>
            <key>~fish07_002_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1211},{307,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,176}}</string>
                <key>sourceSize</key>
                <string>{307,176}</string>
            </dict>
            <key>~fish07_002_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1511},{259,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,196}}</string>
                <key>sourceSize</key>
                <string>{259,196}</string>
            </dict>
            <key>~fish07_003_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1313},{248,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,197}}</string>
                <key>sourceSize</key>
                <string>{248,197}</string>
            </dict>
            <key>~fish07_003_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,802},{288,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,186}}</string>
                <key>sourceSize</key>
                <string>{288,186}</string>
            </dict>
            <key>~fish07_003_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1617},{305,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,176}}</string>
                <key>sourceSize</key>
                <string>{305,176}</string>
            </dict>
            <key>~fish07_003_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,598},{296,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,165}}</string>
                <key>sourceSize</key>
                <string>{296,165}</string>
            </dict>
            <key>~fish08_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1837},{246,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,211}}</string>
                <key>sourceSize</key>
                <string>{246,211}</string>
            </dict>
            <key>~fish08_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1368},{242,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,240}}</string>
                <key>sourceSize</key>
                <string>{242,240}</string>
            </dict>
            <key>~fish08_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,1711},{240,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,268}}</string>
                <key>sourceSize</key>
                <string>{240,268}</string>
            </dict>
            <key>~fish08_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,781},{239,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,262}}</string>
                <key>sourceSize</key>
                <string>{239,262}</string>
            </dict>
            <key>~fish08_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1553},{242,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,267}}</string>
                <key>sourceSize</key>
                <string>{242,267}</string>
            </dict>
            <key>~fish08_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1090},{242,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,277}}</string>
                <key>sourceSize</key>
                <string>{242,277}</string>
            </dict>
            <key>~fish08_000_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1821},{242,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,215}}</string>
                <key>sourceSize</key>
                <string>{242,215}</string>
            </dict>
            <key>~fish09_001_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1711},{119,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,82}}</string>
                <key>sourceSize</key>
                <string>{119,82}</string>
            </dict>
            <key>~fish13_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,0},{210,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,130}}</string>
                <key>sourceSize</key>
                <string>{210,130}</string>
            </dict>
            <key>~fish14_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,1708},{279,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,112}}</string>
                <key>sourceSize</key>
                <string>{279,112}</string>
            </dict>
            <key>~fish14_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,964},{274,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,125}}</string>
                <key>sourceSize</key>
                <string>{274,125}</string>
            </dict>
            <key>~fish14_001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1452},{286,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,100}}</string>
                <key>sourceSize</key>
                <string>{286,100}</string>
            </dict>
            <key>~fish15_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,225},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,229}}</string>
                <key>sourceSize</key>
                <string>{208,229}</string>
            </dict>
            <key>~fish15_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1837},{207,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,211}}</string>
                <key>sourceSize</key>
                <string>{207,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishA0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c6246ce8f105c99582e1732bce3d3a5:0b25f7172941d37aff0cb483a2840269:db7bb6b2b7649b51e47483127247ca87$</string>
            <key>textureFileName</key>
            <string>FishA0.png</string>
        </dict>
    </dict>
</plist>
