<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EYuFish_0_ (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{972,300}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,205},{972,300}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{973,309},{970,290}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,209},{970,290}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (32).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,301},{972,290}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,219},{972,290}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{956,308}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,207},{956,308}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{957,600},{948,322}}</string>
                <key>offset</key>
                <string>{28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,198},{948,322}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_2_ (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{973,0},{972,308}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,208},{972,308}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>~FishBigDengLong_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1511},{338,298}}</string>
                <key>offset</key>
                <string>{16,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,110},{338,298}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1509},{338,298}}</string>
                <key>offset</key>
                <string>{14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,110},{338,298}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1261},{354,262}}</string>
                <key>offset</key>
                <string>{24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,65},{354,262}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,1261},{354,292}}</string>
                <key>offset</key>
                <string>{25,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,34},{354,292}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1521},{338,322}}</string>
                <key>offset</key>
                <string>{21,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{338,322}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1554},{330,320}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{330,320}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1844},{163,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,162}}</string>
                <key>sourceSize</key>
                <string>{163,162}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1261},{213,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,212}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,1554},{305,321}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{305,321}}</string>
                <key>sourceSize</key>
                <string>{307,321}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1524},{332,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,330}}</string>
                <key>sourceSize</key>
                <string>{332,330}</string>
            </dict>
            <key>~JellyFish_000_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1233},{364,275}}</string>
                <key>offset</key>
                <string>{-75,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{364,275}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1249},{360,271}}</string>
                <key>offset</key>
                <string>{-75,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{360,271}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1235},{362,275}}</string>
                <key>offset</key>
                <string>{-74,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,57},{362,275}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,901},{392,331}}</string>
                <key>offset</key>
                <string>{-74,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{392,331}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,901},{388,333}}</string>
                <key>offset</key>
                <string>{-72,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{388,333}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,923},{380,337}}</string>
                <key>offset</key>
                <string>{-67,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{380,337}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_086.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,923},{388,337}}</string>
                <key>offset</key>
                <string>{-70,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{388,337}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_092.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,923},{392,325}}</string>
                <key>offset</key>
                <string>{-76,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{392,325}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~fishSuperCrab_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1855},{260,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,193}}</string>
                <key>sourceSize</key>
                <string>{260,193}</string>
            </dict>
            <key>~fishSuperCrab_000_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1855},{263,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,192}}</string>
                <key>sourceSize</key>
                <string>{263,192}</string>
            </dict>
            <key>~fishSuperCrab_000_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1808},{268,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,196}}</string>
                <key>sourceSize</key>
                <string>{268,196}</string>
            </dict>
            <key>~fishSuperCrab_000_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1855},{258,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,193}}</string>
                <key>sourceSize</key>
                <string>{258,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishC6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50042f399c6aa6c058b410fef4c1e5aa:776bc42fd58bec128874901061afda8d:a6e63a2d575d2a63de6d72552906231b$</string>
            <key>textureFileName</key>
            <string>FishC6.png</string>
        </dict>
    </dict>
</plist>
