<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~DengLongJumpLogo_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,966},{73,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,103}}</string>
                <key>sourceSize</key>
                <string>{73,103}</string>
            </dict>
            <key>~DengLongJumpLogo_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,0},{66,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,103}}</string>
                <key>sourceSize</key>
                <string>{66,103}</string>
            </dict>
            <key>~DengLongJumpLogo_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1144},{86,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
            <key>~DengLongJumpLogo_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,416},{81,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,103}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>~DengLongJumpLogo_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1174},{72,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,103}}</string>
                <key>sourceSize</key>
                <string>{72,103}</string>
            </dict>
            <key>~DengLongJumpLogo_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,104},{66,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,103}}</string>
                <key>sourceSize</key>
                <string>{66,103}</string>
            </dict>
            <key>~DengLongJumpLogo_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,624},{82,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,103}}</string>
                <key>sourceSize</key>
                <string>{82,103}</string>
            </dict>
            <key>~DengLongJumpLogo_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,936},{86,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,103}}</string>
                <key>sourceSize</key>
                <string>{86,103}</string>
            </dict>
            <key>~EYuJumpLogo_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,1350},{85,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{85,103}</string>
            </dict>
            <key>~EYuJumpLogo_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1558},{85,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,102}}</string>
                <key>sourceSize</key>
                <string>{85,102}</string>
            </dict>
            <key>~EYuJumpLogo_000_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1454},{85,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{85,103}</string>
            </dict>
            <key>~FullScreenFishMark_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,777},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>~FullScreenFishMark_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,852},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>~FullScreenFishMark_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1661},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>~InterlinkBombCrab_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1385},{192,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,203}}</string>
                <key>sourceSize</key>
                <string>{192,203}</string>
            </dict>
            <key>~MRY_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,966},{617,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,379}}</string>
                <key>sourceSize</key>
                <string>{617,379}</string>
            </dict>
            <key>~MRY_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,576},{632,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,369}}</string>
                <key>sourceSize</key>
                <string>{632,369}</string>
            </dict>
            <key>~MRY_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,565},{646,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,353}}</string>
                <key>sourceSize</key>
                <string>{646,353}</string>
            </dict>
            <key>~MRY_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,0},{656,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,337}}</string>
                <key>sourceSize</key>
                <string>{656,337}</string>
            </dict>
            <key>~MRY_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,0},{661,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{661,319}}</string>
                <key>sourceSize</key>
                <string>{661,319}</string>
            </dict>
            <key>~MRY_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{662,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,299}}</string>
                <key>sourceSize</key>
                <string>{662,299}</string>
            </dict>
            <key>~MRY_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{661,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{661,275}}</string>
                <key>sourceSize</key>
                <string>{661,275}</string>
            </dict>
            <key>~MRY_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,320},{656,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,250}}</string>
                <key>sourceSize</key>
                <string>{656,250}</string>
            </dict>
            <key>~MRY_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,338},{647,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,226}}</string>
                <key>sourceSize</key>
                <string>{647,226}</string>
            </dict>
            <key>~MRY_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,571},{633,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,205}}</string>
                <key>sourceSize</key>
                <string>{633,205}</string>
            </dict>
            <key>~MRY_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,777},{630,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,188}}</string>
                <key>sourceSize</key>
                <string>{630,188}</string>
            </dict>
            <key>~MRY_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,946},{625,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,209}}</string>
                <key>sourceSize</key>
                <string>{625,209}</string>
            </dict>
            <key>~MRY_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,919},{619,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,225}}</string>
                <key>sourceSize</key>
                <string>{619,225}</string>
            </dict>
            <key>~MRY_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1145},{611,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,239}}</string>
                <key>sourceSize</key>
                <string>{611,239}</string>
            </dict>
            <key>~MRY_000_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{603,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,338}}</string>
                <key>sourceSize</key>
                <string>{603,338}</string>
            </dict>
            <key>~MRY_000_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1495},{602,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,378}}</string>
                <key>sourceSize</key>
                <string>{602,378}</string>
            </dict>
            <key>~MRY_000_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1346},{602,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,391}}</string>
                <key>sourceSize</key>
                <string>{602,391}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,520},{81,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,103}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1070},{73,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,103}}</string>
                <key>sourceSize</key>
                <string>{73,103}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,208},{66,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,103}}</string>
                <key>sourceSize</key>
                <string>{66,103}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,1247},{86,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,832},{81,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,103}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1278},{72,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,103}}</string>
                <key>sourceSize</key>
                <string>{72,103}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,312},{66,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,103}}</string>
                <key>sourceSize</key>
                <string>{66,103}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,728},{82,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,103}}</string>
                <key>sourceSize</key>
                <string>{82,103}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1040},{86,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,103}}</string>
                <key>sourceSize</key>
                <string>{86,103}</string>
            </dict>
            <key>~fish16_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1738},{316,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,135}}</string>
                <key>sourceSize</key>
                <string>{316,135}</string>
            </dict>
            <key>~fish16_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1738},{311,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,135}}</string>
                <key>sourceSize</key>
                <string>{311,135}</string>
            </dict>
            <key>~fish17_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1738},{307,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,135}}</string>
                <key>sourceSize</key>
                <string>{307,135}</string>
            </dict>
            <key>~fish17_001_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1874},{267,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,173}}</string>
                <key>sourceSize</key>
                <string>{267,173}</string>
            </dict>
            <key>~fish17_001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1874},{269,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,172}}</string>
                <key>sourceSize</key>
                <string>{269,172}</string>
            </dict>
            <key>~fish18_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1874},{541,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,172}}</string>
                <key>sourceSize</key>
                <string>{541,172}</string>
            </dict>
            <key>~fish18_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1589},{547,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,148}}</string>
                <key>sourceSize</key>
                <string>{547,148}</string>
            </dict>
            <key>~fish18_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1385},{529,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,159}}</string>
                <key>sourceSize</key>
                <string>{529,159}</string>
            </dict>
            <key>~fish18_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1874},{536,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,173}}</string>
                <key>sourceSize</key>
                <string>{536,173}</string>
            </dict>
            <key>~fish19_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1874},{430,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,169}}</string>
                <key>sourceSize</key>
                <string>{430,169}</string>
            </dict>
            <key>~fish19_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1738},{479,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,135}}</string>
                <key>sourceSize</key>
                <string>{479,135}</string>
            </dict>
            <key>~xuanfeng_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,1545},{200,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,192}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishB0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f025d712e25a93814d2d2c4a15e6d6:5e210866b8e1c26d8fc94a50e436ad38:9715dee187988e8f88ce88ecf2e168aa$</string>
            <key>textureFileName</key>
            <string>FishB0.png</string>
        </dict>
    </dict>
</plist>
