<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EYuFish_0_ (36).png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,321},{978,278}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,217},{978,278}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,351},{966,326}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,208},{966,326}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_2_ (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1044,350}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,186},{1044,350}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_2_ (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,0},{1002,320}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,201},{1002,320}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>~DianCiPao_001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,1066},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>~DianCiPao_001_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,925},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>~DianCiPao_001_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,780},{133,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,144}}</string>
                <key>sourceSize</key>
                <string>{133,144}</string>
            </dict>
            <key>~FishBigDengLong_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1342},{340,296}}</string>
                <key>offset</key>
                <string>{14,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,112},{340,296}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1284},{344,306}}</string>
                <key>offset</key>
                <string>{22,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,102},{344,306}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1332},{344,302}}</string>
                <key>offset</key>
                <string>{21,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,106},{344,302}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,600},{136,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,179}}</string>
                <key>sourceSize</key>
                <string>{136,179}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,678},{322,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,333}}</string>
                <key>sourceSize</key>
                <string>{322,333}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1012},{322,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,329}}</string>
                <key>sourceSize</key>
                <string>{322,329}</string>
            </dict>
            <key>~JellyFish_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1016},{368,267}}</string>
                <key>offset</key>
                <string>{-79,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{368,267}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,930},{396,315}}</string>
                <key>offset</key>
                <string>{-76,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{396,315}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,928},{394,317}}</string>
                <key>offset</key>
                <string>{-75,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{394,317}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1012},{394,319}}</string>
                <key>offset</key>
                <string>{-75,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{394,319}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1246},{394,321}}</string>
                <key>offset</key>
                <string>{-75,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{394,321}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1246},{394,321}}</string>
                <key>offset</key>
                <string>{-75,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{394,321}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,600},{394,327}}</string>
                <key>offset</key>
                <string>{-75,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{394,327}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,600},{396,329}}</string>
                <key>offset</key>
                <string>{-76,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{396,329}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,678},{394,333}}</string>
                <key>offset</key>
                <string>{-75,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{394,333}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_088.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{398,337}}</string>
                <key>offset</key>
                <string>{-76,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{398,337}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~fishSuperCrab_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1639},{269,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,203}}</string>
                <key>sourceSize</key>
                <string>{269,203}</string>
            </dict>
            <key>~fishSuperCrab_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1834},{262,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,190}}</string>
                <key>sourceSize</key>
                <string>{262,190}</string>
            </dict>
            <key>~fishSuperCrab_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1639},{272,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,197}}</string>
                <key>sourceSize</key>
                <string>{272,197}</string>
            </dict>
            <key>~fishSuperCrab_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1773},{268,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,195}}</string>
                <key>sourceSize</key>
                <string>{268,195}</string>
            </dict>
            <key>~fishSuperCrab_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1773},{268,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,202}}</string>
                <key>sourceSize</key>
                <string>{268,202}</string>
            </dict>
            <key>~fishSuperCrab_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,1568},{271,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,204}}</string>
                <key>sourceSize</key>
                <string>{271,204}</string>
            </dict>
            <key>~fishSuperCrab_000_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,1568},{271,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,204}}</string>
                <key>sourceSize</key>
                <string>{271,204}</string>
            </dict>
            <key>~fishSuperCrab_000_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1843},{262,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,196}}</string>
                <key>sourceSize</key>
                <string>{262,196}</string>
            </dict>
            <key>~fishSuperCrab_000_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1635},{272,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,198}}</string>
                <key>sourceSize</key>
                <string>{272,198}</string>
            </dict>
            <key>~fishSuperCrab_000_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1591},{272,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,197}}</string>
                <key>sourceSize</key>
                <string>{272,197}</string>
            </dict>
            <key>~fishSuperCrab_000_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1789},{263,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,195}}</string>
                <key>sourceSize</key>
                <string>{263,195}</string>
            </dict>
            <key>~fishSuperCrab_000_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1837},{262,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,196}}</string>
                <key>sourceSize</key>
                <string>{262,196}</string>
            </dict>
            <key>~fishSuperCrab_000_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,1773},{266,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,200}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>~fishSuperCrab_000_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1568},{271,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,204}}</string>
                <key>sourceSize</key>
                <string>{271,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishC3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50042f399c6aa6c058b410fef4c1e5aa:776bc42fd58bec128874901061afda8d:a6e63a2d575d2a63de6d72552906231b$</string>
            <key>textureFileName</key>
            <string>FishC3.png</string>
        </dict>
    </dict>
</plist>
