<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~ChainLogo_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,800},{227,157}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainLogo_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1589},{227,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainLogo_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1589},{227,157}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainShell_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,1713},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>~ChainShell_001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1438},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>~ChainShell_001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,1507},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>~ChainShell_001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,1642},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>~CounterDownObj_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,777},{304,154}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{304,154}}</string>
                <key>sourceSize</key>
                <string>{322,174}</string>
            </dict>
            <key>~DianCiPao_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1482},{250,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,272}}</string>
                <key>sourceSize</key>
                <string>{250,272}</string>
            </dict>
            <key>~DianCiPao_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,958},{250,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,274}}</string>
                <key>sourceSize</key>
                <string>{250,274}</string>
            </dict>
            <key>~DianCiPao_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1514},{250,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,272}}</string>
                <key>sourceSize</key>
                <string>{250,272}</string>
            </dict>
            <key>~DianCiPao_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1240},{250,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,273}}</string>
                <key>sourceSize</key>
                <string>{250,273}</string>
            </dict>
            <key>~DianCiPao_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1382},{250,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,273}}</string>
                <key>sourceSize</key>
                <string>{250,273}</string>
            </dict>
            <key>~DianCiPao_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1470},{250,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,273}}</string>
                <key>sourceSize</key>
                <string>{250,273}</string>
            </dict>
            <key>~DianCiPao_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1744},{250,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,273}}</string>
                <key>sourceSize</key>
                <string>{250,273}</string>
            </dict>
            <key>~DianCiPao_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1207},{250,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,274}}</string>
                <key>sourceSize</key>
                <string>{250,274}</string>
            </dict>
            <key>~DianCiPao_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1164},{250,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,273}}</string>
                <key>sourceSize</key>
                <string>{250,273}</string>
            </dict>
            <key>~DianCiPao_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1755},{250,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,272}}</string>
                <key>sourceSize</key>
                <string>{250,272}</string>
            </dict>
            <key>~DianCiPao_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1747},{250,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,271}}</string>
                <key>sourceSize</key>
                <string>{250,271}</string>
            </dict>
            <key>~DianCiPao_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1233},{250,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,273}}</string>
                <key>sourceSize</key>
                <string>{250,273}</string>
            </dict>
            <key>~DianCiPao_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1747},{250,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,272}}</string>
                <key>sourceSize</key>
                <string>{250,272}</string>
            </dict>
            <key>~DianCiPao_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1315},{250,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,273}}</string>
                <key>sourceSize</key>
                <string>{250,273}</string>
            </dict>
            <key>~FWindCircleD_000_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1787},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1787},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1787},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~InterlinkBombCrab_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,393},{195,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,201}}</string>
                <key>sourceSize</key>
                <string>{195,201}</string>
            </dict>
            <key>~InterlinkBombCrab_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,1846},{193,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,202}}</string>
                <key>sourceSize</key>
                <string>{193,202}</string>
            </dict>
            <key>~InterlinkBombCrab_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,0},{184,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,192}}</string>
                <key>sourceSize</key>
                <string>{184,192}</string>
            </dict>
            <key>~InterlinkBombCrab_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,193},{182,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,199}}</string>
                <key>sourceSize</key>
                <string>{182,199}</string>
            </dict>
            <key>~InterlinkBombCrab_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1438},{188,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,201}}</string>
                <key>sourceSize</key>
                <string>{188,201}</string>
            </dict>
            <key>~InterlinkBombCrab_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,595},{196,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,204}}</string>
                <key>sourceSize</key>
                <string>{196,204}</string>
            </dict>
            <key>~InterlinkBombCrab_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1507},{197,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,205}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>~fish16_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{311,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,136}}</string>
                <key>sourceSize</key>
                <string>{311,136}</string>
            </dict>
            <key>~fish16_001_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1231},{270,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,150}}</string>
                <key>sourceSize</key>
                <string>{270,150}</string>
            </dict>
            <key>~fish16_001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1013},{274,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,150}}</string>
                <key>sourceSize</key>
                <string>{274,150}</string>
            </dict>
            <key>~fish16_001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,856},{277,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,150}}</string>
                <key>sourceSize</key>
                <string>{277,150}</string>
            </dict>
            <key>~fish16_001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,920},{281,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,141}}</string>
                <key>sourceSize</key>
                <string>{281,141}</string>
            </dict>
            <key>~fish16_001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,930},{277,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,139}}</string>
                <key>sourceSize</key>
                <string>{277,139}</string>
            </dict>
            <key>~fish16_001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,873},{277,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,139}}</string>
                <key>sourceSize</key>
                <string>{277,139}</string>
            </dict>
            <key>~fish16_001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1007},{277,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,139}}</string>
                <key>sourceSize</key>
                <string>{277,139}</string>
            </dict>
            <key>~fish16_001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,731},{281,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,141}}</string>
                <key>sourceSize</key>
                <string>{281,141}</string>
            </dict>
            <key>~fish16_001_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,905},{277,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,150}}</string>
                <key>sourceSize</key>
                <string>{277,150}</string>
            </dict>
            <key>~fish16_001_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1056},{274,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,150}}</string>
                <key>sourceSize</key>
                <string>{274,150}</string>
            </dict>
            <key>~fish17_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,593},{306,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,170}}</string>
                <key>sourceSize</key>
                <string>{306,170}</string>
            </dict>
            <key>~fish17_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{306,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,169}}</string>
                <key>sourceSize</key>
                <string>{306,169}</string>
            </dict>
            <key>~fish17_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,686},{306,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,169}}</string>
                <key>sourceSize</key>
                <string>{306,169}</string>
            </dict>
            <key>~fish17_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,737},{306,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,167}}</string>
                <key>sourceSize</key>
                <string>{306,167}</string>
            </dict>
            <key>~fish17_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,764},{306,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,165}}</string>
                <key>sourceSize</key>
                <string>{306,165}</string>
            </dict>
            <key>~fish17_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,433},{307,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,160}}</string>
                <key>sourceSize</key>
                <string>{307,160}</string>
            </dict>
            <key>~fish17_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,447},{307,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,158}}</string>
                <key>sourceSize</key>
                <string>{307,158}</string>
            </dict>
            <key>~fish17_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,594},{307,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,155}}</string>
                <key>sourceSize</key>
                <string>{307,155}</string>
            </dict>
            <key>~fish17_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,0},{309,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,152}}</string>
                <key>sourceSize</key>
                <string>{309,152}</string>
            </dict>
            <key>~fish17_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,151},{309,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,148}}</string>
                <key>sourceSize</key>
                <string>{309,148}</string>
            </dict>
            <key>~fish17_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,153},{309,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,145}}</string>
                <key>sourceSize</key>
                <string>{309,145}</string>
            </dict>
            <key>~fish17_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,155},{309,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,140}}</string>
                <key>sourceSize</key>
                <string>{309,140}</string>
            </dict>
            <key>~fish17_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,159},{309,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,136}}</string>
                <key>sourceSize</key>
                <string>{309,136}</string>
            </dict>
            <key>~fish17_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,168},{309,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,133}}</string>
                <key>sourceSize</key>
                <string>{309,133}</string>
            </dict>
            <key>~fish17_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,303},{308,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,129}}</string>
                <key>sourceSize</key>
                <string>{308,129}</string>
            </dict>
            <key>~fish17_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,431},{307,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,127}}</string>
                <key>sourceSize</key>
                <string>{307,127}</string>
            </dict>
            <key>~fish17_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,466},{307,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,126}}</string>
                <key>sourceSize</key>
                <string>{307,126}</string>
            </dict>
            <key>~fish17_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,559},{307,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,126}}</string>
                <key>sourceSize</key>
                <string>{307,126}</string>
            </dict>
            <key>~fish17_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,437},{307,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,127}}</string>
                <key>sourceSize</key>
                <string>{307,127}</string>
            </dict>
            <key>~fish17_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,430},{307,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,128}}</string>
                <key>sourceSize</key>
                <string>{307,128}</string>
            </dict>
            <key>~fish17_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,300},{307,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,129}}</string>
                <key>sourceSize</key>
                <string>{307,129}</string>
            </dict>
            <key>~fish17_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,299},{307,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,131}}</string>
                <key>sourceSize</key>
                <string>{307,131}</string>
            </dict>
            <key>~fish17_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,296},{307,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,140}}</string>
                <key>sourceSize</key>
                <string>{307,140}</string>
            </dict>
            <key>~fish17_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,302},{308,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,144}}</string>
                <key>sourceSize</key>
                <string>{308,144}</string>
            </dict>
            <key>~fish17_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,0},{309,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,150}}</string>
                <key>sourceSize</key>
                <string>{309,150}</string>
            </dict>
            <key>~fish17_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{309,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,154}}</string>
                <key>sourceSize</key>
                <string>{309,154}</string>
            </dict>
            <key>~fish17_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,0},{309,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,158}}</string>
                <key>sourceSize</key>
                <string>{309,158}</string>
            </dict>
            <key>~fish17_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,137},{309,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,165}}</string>
                <key>sourceSize</key>
                <string>{309,165}</string>
            </dict>
            <key>~fish17_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{309,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,167}}</string>
                <key>sourceSize</key>
                <string>{309,167}</string>
            </dict>
            <key>~fish17_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,296},{308,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,169}}</string>
                <key>sourceSize</key>
                <string>{308,169}</string>
            </dict>
            <key>~fish17_000_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,559},{306,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,171}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>~fish17_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,565},{306,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,171}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>~fish17_000_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,606},{306,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,170}}</string>
                <key>sourceSize</key>
                <string>{306,170}</string>
            </dict>
            <key>~fish17_001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1070},{271,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,169}}</string>
                <key>sourceSize</key>
                <string>{271,169}</string>
            </dict>
            <key>~fish17_001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,932},{273,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,162}}</string>
                <key>sourceSize</key>
                <string>{273,162}</string>
            </dict>
            <key>~fish17_001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1062},{273,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,140}}</string>
                <key>sourceSize</key>
                <string>{273,140}</string>
            </dict>
            <key>~fish17_001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1203},{271,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,134}}</string>
                <key>sourceSize</key>
                <string>{271,134}</string>
            </dict>
            <key>~fish17_001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1338},{270,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,131}}</string>
                <key>sourceSize</key>
                <string>{270,131}</string>
            </dict>
            <key>~fish17_001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1095},{271,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,135}}</string>
                <key>sourceSize</key>
                <string>{271,135}</string>
            </dict>
            <key>~fish17_001_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1147},{273,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,167}}</string>
                <key>sourceSize</key>
                <string>{273,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishB4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f025d712e25a93814d2d2c4a15e6d6:5e210866b8e1c26d8fc94a50e436ad38:9715dee187988e8f88ce88ecf2e168aa$</string>
            <key>textureFileName</key>
            <string>FishB4.png</string>
        </dict>
    </dict>
</plist>
