<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EYuFish_1_ (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1183},{858,378}}</string>
                <key>offset</key>
                <string>{80,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,158},{858,378}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (34).png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1604},{842,434}}</string>
                <key>offset</key>
                <string>{117,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,123},{842,434}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (36).png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,758},{922,424}}</string>
                <key>offset</key>
                <string>{111,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,135},{922,424}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (38).png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,0},{990,416}}</string>
                <key>offset</key>
                <string>{99,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,146},{990,416}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (40).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1630},{1036,410}}</string>
                <key>offset</key>
                <string>{79,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,156},{1036,410}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,417},{930,340}}</string>
                <key>offset</key>
                <string>{46,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,186},{930,340}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_2_ (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1195},{1044,408}}</string>
                <key>offset</key>
                <string>{49,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,160},{1044,408}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_2_ (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,786},{1046,408}}</string>
                <key>offset</key>
                <string>{22,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,161},{1046,408}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_2_ (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,387},{1052,398}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,167},{1052,398}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_2_ (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1056,386}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,172},{1056,386}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>~DianCiPao_001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,1334},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,147}}</string>
                <key>sourceSize</key>
                <string>{132,147}</string>
            </dict>
            <key>~DianCiPao_001_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,1630},{132,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,145}}</string>
                <key>sourceSize</key>
                <string>{132,145}</string>
            </dict>
            <key>~DianCiPao_001_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,1482},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,147}}</string>
                <key>sourceSize</key>
                <string>{132,147}</string>
            </dict>
            <key>~DianCiPao_001_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,1183},{132,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{132,150}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,417},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,1776},{130,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,139}}</string>
                <key>sourceSize</key>
                <string>{132,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishC0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50042f399c6aa6c058b410fef4c1e5aa:776bc42fd58bec128874901061afda8d:a6e63a2d575d2a63de6d72552906231b$</string>
            <key>textureFileName</key>
            <string>FishC0.png</string>
        </dict>
    </dict>
</plist>
