<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EYuFish_0_ (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,0},{972,332}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,200},{972,332}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,333},{976,320}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,200},{976,320}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (40).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,377},{968,294}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,214},{968,294}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{751,672},{550,446}}</string>
                <key>offset</key>
                <string>{89,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,97},{550,446}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1111},{524,456}}</string>
                <key>offset</key>
                <string>{91,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,94},{524,456}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,654},{586,456}}</string>
                <key>offset</key>
                <string>{102,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,96},{586,456}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (32).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{750,442}}</string>
                <key>offset</key>
                <string>{115,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,113},{750,442}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_2_ (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1058,376}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,175},{1058,376}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>~FishBigDengLong_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1389},{344,300}}</string>
                <key>offset</key>
                <string>{19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,108},{344,300}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1688},{344,252}}</string>
                <key>offset</key>
                <string>{19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,94},{344,252}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1690},{344,280}}</string>
                <key>offset</key>
                <string>{20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,96},{344,280}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1387},{344,300}}</string>
                <key>offset</key>
                <string>{21,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,98},{344,300}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1119},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1495},{154,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,153}}</string>
                <key>sourceSize</key>
                <string>{154,153}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,654},{145,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,182}}</string>
                <key>sourceSize</key>
                <string>{145,182}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,837},{158,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,179}}</string>
                <key>sourceSize</key>
                <string>{158,179}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1310},{175,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,184}}</string>
                <key>sourceSize</key>
                <string>{175,184}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1119},{178,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,190}}</string>
                <key>sourceSize</key>
                <string>{178,190}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1568},{338,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,333}}</string>
                <key>sourceSize</key>
                <string>{338,333}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1651},{339,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,334}}</string>
                <key>sourceSize</key>
                <string>{339,334}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1651},{334,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,335}}</string>
                <key>sourceSize</key>
                <string>{334,335}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1568},{330,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,335}}</string>
                <key>sourceSize</key>
                <string>{330,335}</string>
            </dict>
            <key>~JellyFish_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1115},{372,271}}</string>
                <key>offset</key>
                <string>{-77,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,54},{372,271}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1387},{370,263}}</string>
                <key>offset</key>
                <string>{-82,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,59},{370,263}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1119},{370,267}}</string>
                <key>offset</key>
                <string>{-80,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,59},{370,267}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1115},{368,273}}</string>
                <key>offset</key>
                <string>{-77,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,57},{368,273}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishC1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50042f399c6aa6c058b410fef4c1e5aa:776bc42fd58bec128874901061afda8d:a6e63a2d575d2a63de6d72552906231b$</string>
            <key>textureFileName</key>
            <string>FishC1.png</string>
        </dict>
    </dict>
</plist>
