<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FishSameCircle_.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1734},{305,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,301}}</string>
                <key>sourceSize</key>
                <string>{305,301}</string>
            </dict>
            <key>SameKindKingRing.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1707},{326,319}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,319}}</string>
                <key>sourceSize</key>
                <string>{326,321}</string>
            </dict>
            <key>~ChainShell_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1574},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>~CounterUpObj_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,1810},{192,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,49}}</string>
                <key>sourceSize</key>
                <string>{192,49}</string>
            </dict>
            <key>~DengLongJumpLogo_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1663},{81,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,103}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>~DengLongJumpLogo_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1935},{83,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,102}}</string>
                <key>sourceSize</key>
                <string>{83,102}</string>
            </dict>
            <key>~EYuJumpLogo_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1935},{68,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,104}}</string>
                <key>sourceSize</key>
                <string>{68,104}</string>
            </dict>
            <key>~EYuJumpLogo_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,1875},{79,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,103}}</string>
                <key>sourceSize</key>
                <string>{79,103}</string>
            </dict>
            <key>~EYuJumpLogo_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1560},{84,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,102}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>~FWindCircleD_000_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,0},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,249},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,498},{249,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,249}}</string>
                <key>sourceSize</key>
                <string>{249,249}</string>
            </dict>
            <key>~FullScreenFishMark_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1187},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>~FullScreenFishMark_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1037},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>~GuidedMissileFish_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1100},{366,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,176}}</string>
                <key>sourceSize</key>
                <string>{366,176}</string>
            </dict>
            <key>~MRY_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{602,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,250}}</string>
                <key>sourceSize</key>
                <string>{602,250}</string>
            </dict>
            <key>~MRY_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,304},{593,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,261}}</string>
                <key>sourceSize</key>
                <string>{593,261}</string>
            </dict>
            <key>~MRY_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{587,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,271}}</string>
                <key>sourceSize</key>
                <string>{587,271}</string>
            </dict>
            <key>~MRY_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,566},{584,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,276}}</string>
                <key>sourceSize</key>
                <string>{584,276}</string>
            </dict>
            <key>~MRY_000_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,359},{587,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,285}}</string>
                <key>sourceSize</key>
                <string>{587,285}</string>
            </dict>
            <key>~MRY_000_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,0},{594,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,303}}</string>
                <key>sourceSize</key>
                <string>{594,303}</string>
            </dict>
            <key>~MRY_000_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,251},{600,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,320}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>~MRY_000_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,0},{601,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,358}}</string>
                <key>sourceSize</key>
                <string>{601,358}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1935},{65,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,104}}</string>
                <key>sourceSize</key>
                <string>{65,104}</string>
            </dict>
            <key>~SuperCrabJumpLogo_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1707},{83,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,102}}</string>
                <key>sourceSize</key>
                <string>{83,102}</string>
            </dict>
            <key>~fish16_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1560},{313,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,146}}</string>
                <key>sourceSize</key>
                <string>{313,146}</string>
            </dict>
            <key>~fish17_000_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,1875},{307,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,171}}</string>
                <key>sourceSize</key>
                <string>{307,171}</string>
            </dict>
            <key>~fish17_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,1875},{307,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,171}}</string>
                <key>sourceSize</key>
                <string>{307,171}</string>
            </dict>
            <key>~fish17_001_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,748},{274,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,151}}</string>
                <key>sourceSize</key>
                <string>{274,151}</string>
            </dict>
            <key>~fish18_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1463},{442,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,243}}</string>
                <key>sourceSize</key>
                <string>{442,243}</string>
            </dict>
            <key>~fish18_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1550},{526,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,183}}</string>
                <key>sourceSize</key>
                <string>{526,183}</string>
            </dict>
            <key>~fish18_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,800},{550,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,162}}</string>
                <key>sourceSize</key>
                <string>{550,162}</string>
            </dict>
            <key>~fish18_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,645},{551,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,154}}</string>
                <key>sourceSize</key>
                <string>{551,154}</string>
            </dict>
            <key>~fish18_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1037},{539,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,149}}</string>
                <key>sourceSize</key>
                <string>{539,149}</string>
            </dict>
            <key>~fish18_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1398},{532,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,151}}</string>
                <key>sourceSize</key>
                <string>{532,151}</string>
            </dict>
            <key>~fish18_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1187},{529,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,154}}</string>
                <key>sourceSize</key>
                <string>{529,154}</string>
            </dict>
            <key>~fish18_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1402},{528,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,157}}</string>
                <key>sourceSize</key>
                <string>{528,157}</string>
            </dict>
            <key>~fish18_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1231},{532,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,166}}</string>
                <key>sourceSize</key>
                <string>{532,166}</string>
            </dict>
            <key>~fish18_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1048},{539,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,182}}</string>
                <key>sourceSize</key>
                <string>{539,182}</string>
            </dict>
            <key>~fish18_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,843},{542,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,193}}</string>
                <key>sourceSize</key>
                <string>{542,193}</string>
            </dict>
            <key>~fish18_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,844},{543,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,203}}</string>
                <key>sourceSize</key>
                <string>{543,203}</string>
            </dict>
            <key>~fish18_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,963},{541,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,214}}</string>
                <key>sourceSize</key>
                <string>{541,214}</string>
            </dict>
            <key>~fish18_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1178},{536,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,223}}</string>
                <key>sourceSize</key>
                <string>{536,223}</string>
            </dict>
            <key>~fish18_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1342},{528,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,231}}</string>
                <key>sourceSize</key>
                <string>{528,231}</string>
            </dict>
            <key>~fish18_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1574},{515,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,235}}</string>
                <key>sourceSize</key>
                <string>{515,235}</string>
            </dict>
            <key>~fish18_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1810},{498,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,238}}</string>
                <key>sourceSize</key>
                <string>{498,238}</string>
            </dict>
            <key>~fish19_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,900},{366,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,199}}</string>
                <key>sourceSize</key>
                <string>{366,199}</string>
            </dict>
            <key>~fish19_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1707},{473,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,167}}</string>
                <key>sourceSize</key>
                <string>{473,167}</string>
            </dict>
            <key>~fish19_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1277},{439,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,185}}</string>
                <key>sourceSize</key>
                <string>{439,185}</string>
            </dict>
            <key>~xuanfeng_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1734},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishB1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f025d712e25a93814d2d2c4a15e6d6:5e210866b8e1c26d8fc94a50e436ad38:9715dee187988e8f88ce88ecf2e168aa$</string>
            <key>textureFileName</key>
            <string>FishB1.png</string>
        </dict>
    </dict>
</plist>
