<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~ChainLogo_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,249},{227,157}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainLogo_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,407},{227,157}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainLogo_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,249},{227,157}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainLogo_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,249},{227,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainLogo_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,249},{227,157}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainLogo_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,407},{227,157}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainLogo_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,429},{227,157}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainLogo_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,565},{227,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{227,157}}</string>
                <key>sourceSize</key>
                <string>{229,165}</string>
            </dict>
            <key>~ChainShell_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,249},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>~ChainShell_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,382},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>~ChainShell_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,515},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>~ChainShell_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,648},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>~ChainShell_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,781},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>~ChainShell_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1313},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>~FWindCircleD_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{249,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,247}}</string>
                <key>sourceSize</key>
                <string>{249,247}</string>
            </dict>
            <key>~FWindCircleD_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1493},{247,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,247}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>~FWindCircleD_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1245},{248,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,247}}</string>
                <key>sourceSize</key>
                <string>{248,247}</string>
            </dict>
            <key>~FWindCircleD_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,0},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,0},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,0},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,0},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,0},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,497},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,995},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1244},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1493},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1742},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,249},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,498},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,747},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,996},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>~FWindCircleD_000_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1741},{247,247}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,247}}</string>
                <key>sourceSize</key>
                <string>{247,249}</string>
            </dict>
            <key>~FWindCircleD_000_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1493},{247,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,247}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>~FullScreenFishLogo_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,249},{247,179}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{247,179}}</string>
                <key>sourceSize</key>
                <string>{259,195}</string>
            </dict>
            <key>~InterlinkBombCrab_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,834},{197,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,198}}</string>
                <key>sourceSize</key>
                <string>{197,198}</string>
            </dict>
            <key>~InterlinkBombCrab_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,979},{197,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,198}}</string>
                <key>sourceSize</key>
                <string>{197,198}</string>
            </dict>
            <key>~InterlinkBombCrab_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1113},{197,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,199}}</string>
                <key>sourceSize</key>
                <string>{197,199}</string>
            </dict>
            <key>~InterlinkBombCrab_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1380},{191,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,203}}</string>
                <key>sourceSize</key>
                <string>{191,203}</string>
            </dict>
            <key>~InterlinkBombCrab_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1374},{190,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,204}}</string>
                <key>sourceSize</key>
                <string>{190,204}</string>
            </dict>
            <key>~InterlinkBombCrab_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1749},{190,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,203}}</string>
                <key>sourceSize</key>
                <string>{190,203}</string>
            </dict>
            <key>~InterlinkBombCrab_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1410},{191,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,203}}</string>
                <key>sourceSize</key>
                <string>{191,203}</string>
            </dict>
            <key>~InterlinkBombCrab_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1178},{194,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,201}}</string>
                <key>sourceSize</key>
                <string>{194,201}</string>
            </dict>
            <key>~InterlinkBombCrab_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1210},{194,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,199}}</string>
                <key>sourceSize</key>
                <string>{194,199}</string>
            </dict>
            <key>~InterlinkBombCrab_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1358},{194,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,196}}</string>
                <key>sourceSize</key>
                <string>{194,196}</string>
            </dict>
            <key>~InterlinkBombCrab_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,914},{193,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,194}}</string>
                <key>sourceSize</key>
                <string>{193,194}</string>
            </dict>
            <key>~InterlinkBombCrab_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1555},{191,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,193}}</string>
                <key>sourceSize</key>
                <string>{191,193}</string>
            </dict>
            <key>~InterlinkBombCrab_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1614},{187,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,192}}</string>
                <key>sourceSize</key>
                <string>{187,192}</string>
            </dict>
            <key>~InterlinkBombCrab_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,1807},{181,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,192}}</string>
                <key>sourceSize</key>
                <string>{181,192}</string>
            </dict>
            <key>~InterlinkBombCrab_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1807},{181,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,195}}</string>
                <key>sourceSize</key>
                <string>{181,195}</string>
            </dict>
            <key>~InterlinkBombCrab_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1741},{197,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,205}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>~InterlinkBombCrab_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1741},{197,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,204}}</string>
                <key>sourceSize</key>
                <string>{197,204}</string>
            </dict>
            <key>~InterlinkBombCrab_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,807},{197,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,203}}</string>
                <key>sourceSize</key>
                <string>{197,203}</string>
            </dict>
            <key>~InterlinkBombCrab_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,960},{197,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,201}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>~InterlinkBombCrab_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,972},{197,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,200}}</string>
                <key>sourceSize</key>
                <string>{197,200}</string>
            </dict>
            <key>~InterlinkBombCrab_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1011},{197,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,198}}</string>
                <key>sourceSize</key>
                <string>{197,198}</string>
            </dict>
            <key>~xuanfeng_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,606},{199,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,200}}</string>
                <key>sourceSize</key>
                <string>{199,200}</string>
            </dict>
            <key>~xuanfeng_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,762},{199,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,197}}</string>
                <key>sourceSize</key>
                <string>{199,197}</string>
            </dict>
            <key>~xuanfeng_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,599},{200,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,189}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>~xuanfeng_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,782},{199,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,189}}</string>
                <key>sourceSize</key>
                <string>{199,189}</string>
            </dict>
            <key>~xuanfeng_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1749},{190,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,198}}</string>
                <key>sourceSize</key>
                <string>{190,198}</string>
            </dict>
            <key>~xuanfeng_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,249},{200,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,199}}</string>
                <key>sourceSize</key>
                <string>{200,199}</string>
            </dict>
            <key>~xuanfeng_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1173},{196,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>~xuanfeng_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1033},{195,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,187}}</string>
                <key>sourceSize</key>
                <string>{195,187}</string>
            </dict>
            <key>~xuanfeng_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,1584},{188,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{188,191}}</string>
                <key>sourceSize</key>
                <string>{190,191}</string>
            </dict>
            <key>~xuanfeng_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,640},{198,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,193}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>~xuanfeng_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,407},{200,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,198}}</string>
                <key>sourceSize</key>
                <string>{200,198}</string>
            </dict>
            <key>~xuanfeng_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,407},{200,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,191}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>~xuanfeng_000_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,917},{198,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,195}}</string>
                <key>sourceSize</key>
                <string>{198,195}</string>
            </dict>
            <key>~xuanfeng_000_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1411},{191,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{191,184}}</string>
                <key>sourceSize</key>
                <string>{193,184}</string>
            </dict>
            <key>~xuanfeng_000_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1109},{195,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,199}}</string>
                <key>sourceSize</key>
                <string>{195,199}</string>
            </dict>
            <key>~xuanfeng_000_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,565},{200,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,196}</string>
            </dict>
            <key>~xuanfeng_000_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,449},{200,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,190}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>~xuanfeng_000_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1162},{197,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,195}}</string>
                <key>sourceSize</key>
                <string>{197,195}</string>
            </dict>
            <key>~xuanfeng_000_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,723},{200,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,193}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>~xuanfeng_000_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,789},{198,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,189}}</string>
                <key>sourceSize</key>
                <string>{198,189}</string>
            </dict>
            <key>~xuanfeng_000_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,587},{200,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,194}</string>
            </dict>
            <key>~xuanfeng_000_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,1221},{193,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,189}}</string>
                <key>sourceSize</key>
                <string>{193,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishB5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f025d712e25a93814d2d2c4a15e6d6:5e210866b8e1c26d8fc94a50e436ad38:9715dee187988e8f88ce88ecf2e168aa$</string>
            <key>textureFileName</key>
            <string>FishB5.png</string>
        </dict>
    </dict>
</plist>
