<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EYuFish_0_ (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,0},{968,330}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,204},{968,330}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,331},{968,292}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,213},{968,292}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,335},{900,360}}</string>
                <key>offset</key>
                <string>{63,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,172},{900,360}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_2_ (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1026,334}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,194},{1026,334}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>~DianCiPao_001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,940},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>~DianCiPao_001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,799},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>~DianCiPao_001_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,1081},{134,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{134,140}</string>
            </dict>
            <key>~FishBigDengLong_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1019},{350,256}}</string>
                <key>offset</key>
                <string>{16,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,113},{350,256}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,696},{344,322}}</string>
                <key>offset</key>
                <string>{23,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{344,322}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1604},{326,318}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{326,318}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1248},{332,278}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,33},{332,278}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1527},{332,230}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,80},{332,230}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,624},{143,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,174}}</string>
                <key>sourceSize</key>
                <string>{143,174}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,1598},{315,325}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{315,325}}</string>
                <key>sourceSize</key>
                <string>{317,325}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1276},{324,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,331}}</string>
                <key>sourceSize</key>
                <string>{324,331}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1262},{324,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,332}}</string>
                <key>sourceSize</key>
                <string>{324,332}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1262},{328,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,326}}</string>
                <key>sourceSize</key>
                <string>{328,326}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1276},{328,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,327}}</string>
                <key>sourceSize</key>
                <string>{328,327}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,1262},{316,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,335}}</string>
                <key>sourceSize</key>
                <string>{316,335}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1608},{306,334}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{306,334}}</string>
                <key>sourceSize</key>
                <string>{308,334}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1608},{322,332}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{322,332}}</string>
                <key>sourceSize</key>
                <string>{324,332}</string>
            </dict>
            <key>~JellyFish_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1014},{356,247}}</string>
                <key>offset</key>
                <string>{-87,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,56},{356,247}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1589},{328,245}}</string>
                <key>offset</key>
                <string>{-100,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,55},{328,245}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1002},{360,245}}</string>
                <key>offset</key>
                <string>{-92,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,57},{360,245}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,962},{386,297}}</string>
                <key>offset</key>
                <string>{-78,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,43},{386,297}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,960},{388,301}}</string>
                <key>offset</key>
                <string>{-78,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{388,301}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{390,305}}</string>
                <key>offset</key>
                <string>{-78,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{390,305}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,624},{382,335}}</string>
                <key>offset</key>
                <string>{-68,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{382,335}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,624},{386,337}}</string>
                <key>offset</key>
                <string>{-70,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{386,337}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_094.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,696},{388,317}}</string>
                <key>offset</key>
                <string>{-75,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{388,317}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~fishSuperCrab_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1835},{267,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,195}}</string>
                <key>sourceSize</key>
                <string>{267,195}</string>
            </dict>
            <key>~fishSuperCrab_000_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1758},{268,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,196}}</string>
                <key>sourceSize</key>
                <string>{268,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishC4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50042f399c6aa6c058b410fef4c1e5aa:776bc42fd58bec128874901061afda8d:a6e63a2d575d2a63de6d72552906231b$</string>
            <key>textureFileName</key>
            <string>FishC4.png</string>
        </dict>
    </dict>
</plist>
