<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EYuFish_0_ (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,0},{974,326}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,200},{974,326}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,327},{974,310}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,203},{974,310}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,363},{966,294}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,215},{966,294}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,658},{690,426}}</string>
                <key>offset</key>
                <string>{105,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,116},{690,426}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{691,658},{622,436}}</string>
                <key>offset</key>
                <string>{102,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,106},{622,436}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1089},{492,452}}</string>
                <key>offset</key>
                <string>{74,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,92},{492,452}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_1_ (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,638},{662,450}}</string>
                <key>offset</key>
                <string>{110,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,104},{662,450}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_2_ (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1054,362}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,181},{1054,362}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>~FishBigDengLong_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1551},{346,284}}</string>
                <key>offset</key>
                <string>{15,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,113},{346,284}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1412},{350,222}}</string>
                <key>offset</key>
                <string>{17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,114},{350,222}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1542},{354,232}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,96},{354,232}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1095},{350,316}}</string>
                <key>offset</key>
                <string>{25,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,8},{350,316}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1373},{348,216}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,93},{348,216}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FishBigDengLong_000_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1635},{346,224}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,95},{346,224}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1330},{226,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,220}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1383},{253,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{253,240}}</string>
                <key>sourceSize</key>
                <string>{253,242}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1089},{225,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{225,240}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1095},{270,287}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{270,287}}</string>
                <key>sourceSize</key>
                <string>{272,287}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1419},{335,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,332}}</string>
                <key>sourceSize</key>
                <string>{335,332}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1085},{309,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,333}}</string>
                <key>sourceSize</key>
                <string>{309,333}</string>
            </dict>
            <key>~JellyFish_000_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1085},{376,287}}</string>
                <key>offset</key>
                <string>{-77,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,49},{376,287}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~fishSuperCrab_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1825},{256,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,185}}</string>
                <key>sourceSize</key>
                <string>{256,185}</string>
            </dict>
            <key>~fishSuperCrab_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1590},{273,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,196}}</string>
                <key>sourceSize</key>
                <string>{273,196}</string>
            </dict>
            <key>~fishSuperCrab_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1860},{255,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,188}}</string>
                <key>sourceSize</key>
                <string>{255,188}</string>
            </dict>
            <key>~fishSuperCrab_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1860},{256,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,187}}</string>
                <key>sourceSize</key>
                <string>{256,187}</string>
            </dict>
            <key>~fishSuperCrab_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1787},{264,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,198}}</string>
                <key>sourceSize</key>
                <string>{264,198}</string>
            </dict>
            <key>~fishSuperCrab_000_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1775},{254,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,184}}</string>
                <key>sourceSize</key>
                <string>{254,184}</string>
            </dict>
            <key>~fishSuperCrab_000_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1860},{258,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,187}}</string>
                <key>sourceSize</key>
                <string>{258,187}</string>
            </dict>
            <key>~fishSuperCrab_000_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1635},{254,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,189}}</string>
                <key>sourceSize</key>
                <string>{254,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishC2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50042f399c6aa6c058b410fef4c1e5aa:776bc42fd58bec128874901061afda8d:a6e63a2d575d2a63de6d72552906231b$</string>
            <key>textureFileName</key>
            <string>FishC2.png</string>
        </dict>
    </dict>
</plist>
