<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EYuFish_0_ (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{956,300}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,213},{956,300}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (34).png</key>
            <dict>
                <key>frame</key>
                <string>{{977,0},{976,284}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,219},{976,284}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (38).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{976,286}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,215},{976,286}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{960,308}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,211},{960,308}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>EYuFish_0_ (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{977,285},{964,318}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,209},{964,318}}</string>
                <key>sourceSize</key>
                <string>{1224,680}</string>
            </dict>
            <key>~DianCiPao_001_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1074},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>~FishBigDengLong_000_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1493},{280,314}}</string>
                <key>offset</key>
                <string>{-17,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{280,314}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,0},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,897},{156,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
            <key>~FullScreenFishAppearEff_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,930},{172,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,183}}</string>
                <key>sourceSize</key>
                <string>{172,183}</string>
            </dict>
            <key>~JellyFish_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1227},{366,263}}</string>
                <key>offset</key>
                <string>{-80,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,54},{366,263}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1769},{366,259}}</string>
                <key>offset</key>
                <string>{-84,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,58},{366,259}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1221},{366,271}}</string>
                <key>offset</key>
                <string>{-78,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,58},{366,271}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1493},{364,275}}</string>
                <key>offset</key>
                <string>{-75,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{364,275}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,897},{394,323}}</string>
                <key>offset</key>
                <string>{-75,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{394,323}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,604},{394,325}}</string>
                <key>offset</key>
                <string>{-75,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{394,325}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,897},{392,329}}</string>
                <key>offset</key>
                <string>{-74,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{392,329}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~JellyFish_000_090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,604},{394,325}}</string>
                <key>offset</key>
                <string>{-78,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{394,325}}</string>
                <key>sourceSize</key>
                <string>{550,403}</string>
            </dict>
            <key>~fishSuperCrab_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,604},{287,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,203}}</string>
                <key>sourceSize</key>
                <string>{287,203}</string>
            </dict>
            <key>~fishSuperCrab_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1012},{283,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,205}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>~fishSuperCrab_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1640},{278,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,205}}</string>
                <key>sourceSize</key>
                <string>{278,205}</string>
            </dict>
            <key>~fishSuperCrab_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1808},{274,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,206}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
            <key>~fishSuperCrab_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1630},{276,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,198}}</string>
                <key>sourceSize</key>
                <string>{276,198}</string>
            </dict>
            <key>~fishSuperCrab_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1424},{280,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,197}}</string>
                <key>sourceSize</key>
                <string>{280,197}</string>
            </dict>
            <key>~fishSuperCrab_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,1210},{285,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,195}}</string>
                <key>sourceSize</key>
                <string>{285,195}</string>
            </dict>
            <key>~fishSuperCrab_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,1406},{281,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,196}}</string>
                <key>sourceSize</key>
                <string>{281,196}</string>
            </dict>
            <key>~fishSuperCrab_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1808},{276,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,206}}</string>
                <key>sourceSize</key>
                <string>{276,206}</string>
            </dict>
            <key>~fishSuperCrab_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1012},{279,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,205}}</string>
                <key>sourceSize</key>
                <string>{279,205}</string>
            </dict>
            <key>~fishSuperCrab_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1698},{283,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,205}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>~fishSuperCrab_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,808},{287,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,203}}</string>
                <key>sourceSize</key>
                <string>{287,203}</string>
            </dict>
            <key>~fishSuperCrab_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1434},{283,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,205}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
            <key>~fishSuperCrab_000_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1424},{278,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,205}}</string>
                <key>sourceSize</key>
                <string>{278,205}</string>
            </dict>
            <key>~fishSuperCrab_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1491},{274,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,206}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
            <key>~fishSuperCrab_000_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1846},{281,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,198}}</string>
                <key>sourceSize</key>
                <string>{281,198}</string>
            </dict>
            <key>~fishSuperCrab_000_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1012},{285,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,197}}</string>
                <key>sourceSize</key>
                <string>{285,197}</string>
            </dict>
            <key>~fishSuperCrab_000_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,1603},{281,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,194}}</string>
                <key>sourceSize</key>
                <string>{281,194}</string>
            </dict>
            <key>~fishSuperCrab_000_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1227},{274,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,206}}</string>
                <key>sourceSize</key>
                <string>{274,206}</string>
            </dict>
            <key>~fishSuperCrab_000_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1218},{278,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,205}}</string>
                <key>sourceSize</key>
                <string>{278,205}</string>
            </dict>
            <key>~fishSuperCrab_000_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1218},{283,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,205}}</string>
                <key>sourceSize</key>
                <string>{283,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FishC5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50042f399c6aa6c058b410fef4c1e5aa:776bc42fd58bec128874901061afda8d:a6e63a2d575d2a63de6d72552906231b$</string>
            <key>textureFileName</key>
            <string>FishC5.png</string>
        </dict>
    </dict>
</plist>
