<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FullDrago (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,64}}</string>
                <key>offset</key>
                <string>{-213,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (100).png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{466,206}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{466,206}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (102).png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{446,220}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{446,220}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (104).png</key>
            <dict>
                <key>frame</key>
                <string>{{966,0},{446,228}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{446,228}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (106).png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,0},{450,242}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{450,242}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (108).png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,0},{446,248}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{446,248}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (110).png</key>
            <dict>
                <key>frame</key>
                <string>{{2308,0},{442,250}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,20},{442,250}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (112).png</key>
            <dict>
                <key>frame</key>
                <string>{{2750,0},{440,248}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{440,248}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (114).png</key>
            <dict>
                <key>frame</key>
                <string>{{3190,0},{438,246}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{438,246}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (116).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{436,246}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{436,246}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (118).png</key>
            <dict>
                <key>frame</key>
                <string>{{436,250},{432,246}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,24},{432,246}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{868,250},{54,78}}</string>
                <key>offset</key>
                <string>{-213,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,78}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (120).png</key>
            <dict>
                <key>frame</key>
                <string>{{922,250},{396,246}}</string>
                <key>offset</key>
                <string>{42,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,24},{396,246}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (122).png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,250},{386,246}}</string>
                <key>offset</key>
                <string>{47,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,24},{386,246}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (124).png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,250},{384,242}}</string>
                <key>offset</key>
                <string>{48,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,28},{384,242}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (126).png</key>
            <dict>
                <key>frame</key>
                <string>{{2088,250},{382,220}}</string>
                <key>offset</key>
                <string>{49,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,50},{382,220}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (128).png</key>
            <dict>
                <key>frame</key>
                <string>{{2470,250},{378,222}}</string>
                <key>offset</key>
                <string>{51,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,48},{378,222}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (130).png</key>
            <dict>
                <key>frame</key>
                <string>{{2848,250},{372,220}}</string>
                <key>offset</key>
                <string>{54,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,50},{372,220}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (132).png</key>
            <dict>
                <key>frame</key>
                <string>{{3220,250},{358,214}}</string>
                <key>offset</key>
                <string>{61,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,56},{358,214}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (134).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{350,206}}</string>
                <key>offset</key>
                <string>{65,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,64},{350,206}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (136).png</key>
            <dict>
                <key>frame</key>
                <string>{{350,496},{318,200}}</string>
                <key>offset</key>
                <string>{81,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,70},{318,200}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (138).png</key>
            <dict>
                <key>frame</key>
                <string>{{668,496},{312,200}}</string>
                <key>offset</key>
                <string>{84,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,70},{312,200}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{980,496},{62,88}}</string>
                <key>offset</key>
                <string>{-209,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (140).png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,496},{292,194}}</string>
                <key>offset</key>
                <string>{94,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,76},{292,194}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (142).png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,496},{288,194}}</string>
                <key>offset</key>
                <string>{96,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,76},{288,194}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (144).png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,496},{272,184}}</string>
                <key>offset</key>
                <string>{104,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,86},{272,184}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (146).png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,496},{248,186}}</string>
                <key>offset</key>
                <string>{116,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,84},{248,186}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (148).png</key>
            <dict>
                <key>frame</key>
                <string>{{2142,496},{226,182}}</string>
                <key>offset</key>
                <string>{127,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,88},{226,182}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (150).png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,496},{214,182}}</string>
                <key>offset</key>
                <string>{133,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,88},{214,182}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (152).png</key>
            <dict>
                <key>frame</key>
                <string>{{2582,496},{192,178}}</string>
                <key>offset</key>
                <string>{144,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,92},{192,178}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (154).png</key>
            <dict>
                <key>frame</key>
                <string>{{2774,496},{168,170}}</string>
                <key>offset</key>
                <string>{156,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,100},{168,170}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (156).png</key>
            <dict>
                <key>frame</key>
                <string>{{2942,496},{162,158}}</string>
                <key>offset</key>
                <string>{159,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,112},{162,158}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (158).png</key>
            <dict>
                <key>frame</key>
                <string>{{3104,496},{120,150}}</string>
                <key>offset</key>
                <string>{180,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,120},{120,150}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{3224,496},{64,106}}</string>
                <key>offset</key>
                <string>{-208,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,106}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (160).png</key>
            <dict>
                <key>frame</key>
                <string>{{3288,496},{120,152}}</string>
                <key>offset</key>
                <string>{180,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,118},{120,152}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (162).png</key>
            <dict>
                <key>frame</key>
                <string>{{3408,496},{120,156}}</string>
                <key>offset</key>
                <string>{180,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,114},{120,156}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (164).png</key>
            <dict>
                <key>frame</key>
                <string>{{3528,496},{108,144}}</string>
                <key>offset</key>
                <string>{186,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,126},{108,144}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (166).png</key>
            <dict>
                <key>frame</key>
                <string>{{3636,496},{96,124}}</string>
                <key>offset</key>
                <string>{192,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,146},{96,124}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (168).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,702},{90,118}}</string>
                <key>offset</key>
                <string>{195,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,152},{90,118}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (170).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,702},{82,110}}</string>
                <key>offset</key>
                <string>{199,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,160},{82,110}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (172).png</key>
            <dict>
                <key>frame</key>
                <string>{{172,702},{76,102}}</string>
                <key>offset</key>
                <string>{202,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,168},{76,102}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (174).png</key>
            <dict>
                <key>frame</key>
                <string>{{248,702},{72,92}}</string>
                <key>offset</key>
                <string>{204,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,178},{72,92}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (176).png</key>
            <dict>
                <key>frame</key>
                <string>{{320,702},{60,84}}</string>
                <key>offset</key>
                <string>{210,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,186},{60,84}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (178).png</key>
            <dict>
                <key>frame</key>
                <string>{{380,702},{58,74}}</string>
                <key>offset</key>
                <string>{211,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,196},{58,74}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{438,702},{64,116}}</string>
                <key>offset</key>
                <string>{-208,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,116}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (180).png</key>
            <dict>
                <key>frame</key>
                <string>{{502,702},{54,64}}</string>
                <key>offset</key>
                <string>{213,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,206},{54,64}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (182).png</key>
            <dict>
                <key>frame</key>
                <string>{{556,702},{44,56}}</string>
                <key>offset</key>
                <string>{218,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,214},{44,56}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (184).png</key>
            <dict>
                <key>frame</key>
                <string>{{600,702},{34,48}}</string>
                <key>offset</key>
                <string>{223,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,222},{34,48}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{634,702},{22,20}}</string>
                <key>offset</key>
                <string>{-229,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{656,702},{70,120}}</string>
                <key>offset</key>
                <string>{-205,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,120}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{726,702},{78,134}}</string>
                <key>offset</key>
                <string>{-201,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,134}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{804,702},{82,140}}</string>
                <key>offset</key>
                <string>{-199,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,140}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{886,702},{88,156}}</string>
                <key>offset</key>
                <string>{-196,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,156}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{974,702},{96,172}}</string>
                <key>offset</key>
                <string>{-192,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,172}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,702},{96,178}}</string>
                <key>offset</key>
                <string>{-192,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,178}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (32).png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,702},{98,186}}</string>
                <key>offset</key>
                <string>{-191,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,186}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (34).png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,702},{108,194}}</string>
                <key>offset</key>
                <string>{-186,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,194}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (36).png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,702},{120,206}}</string>
                <key>offset</key>
                <string>{-180,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,206}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (38).png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,702},{130,208}}</string>
                <key>offset</key>
                <string>{-175,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,208}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,702},{30,26}}</string>
                <key>offset</key>
                <string>{-225,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (40).png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,702},{146,212}}</string>
                <key>offset</key>
                <string>{-167,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,212}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (42).png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,702},{156,212}}</string>
                <key>offset</key>
                <string>{-162,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,212}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (44).png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,702},{190,214}}</string>
                <key>offset</key>
                <string>{-145,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,214}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (46).png</key>
            <dict>
                <key>frame</key>
                <string>{{2144,702},{184,218}}</string>
                <key>offset</key>
                <string>{-148,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,218}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (48).png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,702},{200,226}}</string>
                <key>offset</key>
                <string>{-140,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,226}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (50).png</key>
            <dict>
                <key>frame</key>
                <string>{{2528,702},{238,224}}</string>
                <key>offset</key>
                <string>{-121,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,224}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (52).png</key>
            <dict>
                <key>frame</key>
                <string>{{2766,702},{220,222}}</string>
                <key>offset</key>
                <string>{-130,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,222}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (54).png</key>
            <dict>
                <key>frame</key>
                <string>{{2986,702},{230,222}}</string>
                <key>offset</key>
                <string>{-125,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,222}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (56).png</key>
            <dict>
                <key>frame</key>
                <string>{{3216,702},{238,226}}</string>
                <key>offset</key>
                <string>{-121,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,226}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (58).png</key>
            <dict>
                <key>frame</key>
                <string>{{3454,702},{248,232}}</string>
                <key>offset</key>
                <string>{-116,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,232}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{3702,702},{44,34}}</string>
                <key>offset</key>
                <string>{-218,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (60).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,934},{254,236}}</string>
                <key>offset</key>
                <string>{-113,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,236}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (62).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,934},{268,240}}</string>
                <key>offset</key>
                <string>{-106,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,240}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (64).png</key>
            <dict>
                <key>frame</key>
                <string>{{522,934},{268,248}}</string>
                <key>offset</key>
                <string>{-106,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,248}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (66).png</key>
            <dict>
                <key>frame</key>
                <string>{{790,934},{276,246}}</string>
                <key>offset</key>
                <string>{-102,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,246}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (68).png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,934},{290,246}}</string>
                <key>offset</key>
                <string>{-95,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,246}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (70).png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,934},{298,246}}</string>
                <key>offset</key>
                <string>{-91,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,246}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (72).png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,934},{304,246}}</string>
                <key>offset</key>
                <string>{-88,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,246}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (74).png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,934},{314,244}}</string>
                <key>offset</key>
                <string>{-83,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,244}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (76).png</key>
            <dict>
                <key>frame</key>
                <string>{{2272,934},{332,242}}</string>
                <key>offset</key>
                <string>{-74,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,242}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (78).png</key>
            <dict>
                <key>frame</key>
                <string>{{2604,934},{340,240}}</string>
                <key>offset</key>
                <string>{-70,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,240}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2944,934},{46,48}}</string>
                <key>offset</key>
                <string>{-217,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (80).png</key>
            <dict>
                <key>frame</key>
                <string>{{2990,934},{352,240}}</string>
                <key>offset</key>
                <string>{-64,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,240}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (82).png</key>
            <dict>
                <key>frame</key>
                <string>{{3342,934},{372,242}}</string>
                <key>offset</key>
                <string>{-54,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,242}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (84).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1182},{390,248}}</string>
                <key>offset</key>
                <string>{-45,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,248}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (86).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1182},{398,252}}</string>
                <key>offset</key>
                <string>{-41,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,252}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (88).png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1182},{416,260}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,260}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (90).png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1182},{428,256}}</string>
                <key>offset</key>
                <string>{-26,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{428,256}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (92).png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1182},{436,240}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{436,240}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (94).png</key>
            <dict>
                <key>frame</key>
                <string>{{2068,1182},{444,236}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{444,236}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (96).png</key>
            <dict>
                <key>frame</key>
                <string>{{2512,1182},{454,232}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{454,232}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>FullDrago (98).png</key>
            <dict>
                <key>frame</key>
                <string>{{2966,1182},{462,204}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{462,204}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FullDragon.png</string>
            <key>size</key>
            <string>{3746,1460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16d64769cb876a86eb402ea3b7ac68ce$</string>
            <key>textureFileName</key>
            <string>FullDragon.png</string>
        </dict>
    </dict>
</plist>
