<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj_win_effectnum_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>cj_win_effectnum_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,0},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>cj_win_effectnum_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>cj_win_effectnum_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>cj_win_effectnum_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>cj_win_effectnum_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,0},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>cj_win_effectnum_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>cj_win_effectnum_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,0},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>cj_win_effectnum_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,0},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>cj_win_effectnum_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,0},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cj_win_effect_num.png</string>
            <key>size</key>
            <string>{850,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46ab7927b9415f303990f0553424cfb2$</string>
            <key>textureFileName</key>
            <string>cj_win_effect_num.png</string>
        </dict>
    </dict>
</plist>
