<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>D0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,440},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,880},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1320},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1320},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1760},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1760},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2200},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
            <key>D0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2200},{700,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,440}}</string>
                <key>sourceSize</key>
                <string>{700,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cj_win_effet_box.png</string>
            <key>size</key>
            <string>{1400,2640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c396123b13de57f2c5e82c3e9f6e0ea0$</string>
            <key>textureFileName</key>
            <string>cj_win_effet_box.png</string>
        </dict>
    </dict>
</plist>
