<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>V0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{524,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{524,326}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>V0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{538,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{538,338}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>V0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,0},{524,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{524,326}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>V0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{538,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{538,338}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>V0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,338},{524,348}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{524,348}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>V0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,338},{536,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{536,346}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tick_WinEffect.png</string>
            <key>size</key>
            <string>{1598,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:636e24b8cd1a64c6ec6fe08f22f888bb$</string>
            <key>textureFileName</key>
            <string>tick_WinEffect.png</string>
        </dict>
    </dict>
</plist>
