<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~FreeBullet_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>~FreeBullet_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,0},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>~FreeBullet_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>~FreeBullet_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>~FreeBullet_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>~FreeBullet_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>~FreeBullet_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>~FreeBullet_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>~FreeBullet_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,0},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>~FreeBullet_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,0},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>~FreeFireGainScore_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{75,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,17}}</string>
                <key>sourceSize</key>
                <string>{75,17}</string>
            </dict>
            <key>~FreeFireGun_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,0},{79,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,108}}</string>
                <key>sourceSize</key>
                <string>{79,108}</string>
            </dict>
            <key>~FreeFireGun_001_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{79,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>sourceSize</key>
                <string>{79,102}</string>
            </dict>
            <key>~FreeFireGun_001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,0},{79,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,97}}</string>
                <key>sourceSize</key>
                <string>{79,97}</string>
            </dict>
            <key>~FreeFireGun_001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,0},{79,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,91}}</string>
                <key>sourceSize</key>
                <string>{79,91}</string>
            </dict>
            <key>~FreeFireGun_001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,0},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>~FreeFireGun_001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{79,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,91}}</string>
                <key>sourceSize</key>
                <string>{79,91}</string>
            </dict>
            <key>~FreeFireGun_001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,108},{79,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,97}}</string>
                <key>sourceSize</key>
                <string>{79,97}</string>
            </dict>
            <key>~FreeFireGun_001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,108},{79,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>sourceSize</key>
                <string>{79,102}</string>
            </dict>
            <key>~FreeFireLogo_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,108},{197,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,73}}</string>
                <key>sourceSize</key>
                <string>{197,73}</string>
            </dict>
            <key>~FreeNet_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,108},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>~FreeNet_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,108},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>~FreeNet_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,108},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>~FreeNet_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,108},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>~FreeNet_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,108},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>~FreeNet_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>~FreeNet_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,260},{187,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,187}}</string>
                <key>sourceSize</key>
                <string>{187,187}</string>
            </dict>
            <key>~FreeNet_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,260},{189,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,190}}</string>
                <key>sourceSize</key>
                <string>{189,190}</string>
            </dict>
            <key>~FreeNet_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,260},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>~FreeNet_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,260},{190,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,192}}</string>
                <key>sourceSize</key>
                <string>{190,192}</string>
            </dict>
            <key>~FreeNet_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,260},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>~FreeNet_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,260},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>~FreeNet_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{192,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,196}}</string>
                <key>sourceSize</key>
                <string>{192,196}</string>
            </dict>
            <key>~FreeNet_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,452},{192,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,201}}</string>
                <key>sourceSize</key>
                <string>{192,201}</string>
            </dict>
            <key>~FreeNet_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,452},{197,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,208}}</string>
                <key>sourceSize</key>
                <string>{197,208}</string>
            </dict>
            <key>~FreeNet_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,452},{202,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,213}}</string>
                <key>sourceSize</key>
                <string>{202,213}</string>
            </dict>
            <key>~FreeNet_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,452},{207,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,218}}</string>
                <key>sourceSize</key>
                <string>{207,218}</string>
            </dict>
            <key>~FreeNet_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,452},{215,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,223}}</string>
                <key>sourceSize</key>
                <string>{215,223}</string>
            </dict>
            <key>~FreeNet_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,675},{222,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,227}}</string>
                <key>sourceSize</key>
                <string>{222,227}</string>
            </dict>
            <key>~FreeNet_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,675},{227,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,233}}</string>
                <key>sourceSize</key>
                <string>{227,233}</string>
            </dict>
            <key>~FreeNet_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,675},{228,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,238}}</string>
                <key>sourceSize</key>
                <string>{228,238}</string>
            </dict>
            <key>~FreeNet_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,675},{233,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,243}}</string>
                <key>sourceSize</key>
                <string>{233,243}</string>
            </dict>
            <key>~FreeNet_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,675},{238,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,248}}</string>
                <key>sourceSize</key>
                <string>{238,248}</string>
            </dict>
            <key>~FreeNet_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,923},{242,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,252}}</string>
                <key>sourceSize</key>
                <string>{242,252}</string>
            </dict>
            <key>~FreeNet_000_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,923},{248,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,257}}</string>
                <key>sourceSize</key>
                <string>{248,257}</string>
            </dict>
            <key>~FreeNet_000_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,923},{252,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,261}}</string>
                <key>sourceSize</key>
                <string>{252,261}</string>
            </dict>
            <key>~FreeNet_000_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,923},{258,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,267}}</string>
                <key>sourceSize</key>
                <string>{258,267}</string>
            </dict>
            <key>~FreeNet_000_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,923},{261,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,271}}</string>
                <key>sourceSize</key>
                <string>{261,271}</string>
            </dict>
            <key>~FreeNet_000_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1194},{264,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,275}}</string>
                <key>sourceSize</key>
                <string>{264,275}</string>
            </dict>
            <key>~FreeNet_000_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1194},{267,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,277}}</string>
                <key>sourceSize</key>
                <string>{267,277}</string>
            </dict>
            <key>~FreeNet_000_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1194},{269,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,279}}</string>
                <key>sourceSize</key>
                <string>{269,279}</string>
            </dict>
            <key>~FreeNet_000_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1194},{269,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,280}}</string>
                <key>sourceSize</key>
                <string>{269,280}</string>
            </dict>
            <key>~FreeNet_000_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1474},{269,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,280}}</string>
                <key>sourceSize</key>
                <string>{269,280}</string>
            </dict>
            <key>~FreeNet_000_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1474},{264,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,280}}</string>
                <key>sourceSize</key>
                <string>{264,280}</string>
            </dict>
            <key>~FreeNet_000_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1474},{267,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,280}}</string>
                <key>sourceSize</key>
                <string>{267,280}</string>
            </dict>
            <key>~FreeNet_000_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1474},{268,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,280}}</string>
                <key>sourceSize</key>
                <string>{268,280}</string>
            </dict>
            <key>~FreeNet_000_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1754},{264,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,280}}</string>
                <key>sourceSize</key>
                <string>{264,280}</string>
            </dict>
            <key>~FreeNet_000_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1754},{266,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,280}}</string>
                <key>sourceSize</key>
                <string>{266,280}</string>
            </dict>
            <key>~FreeNet_000_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1754},{265,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,280}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>~FreeNet_000_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1754},{263,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,280}}</string>
                <key>sourceSize</key>
                <string>{263,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FreeGunEffect.png</string>
            <key>size</key>
            <string>{1292,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3650a5ad6af0a29346c10631d4839a1$</string>
            <key>textureFileName</key>
            <string>FreeGunEffect.png</string>
        </dict>
    </dict>
</plist>
