<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>~JumpScoreBG_000_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{228,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,125}}</string>
                <key>sourceSize</key>
                <string>{228,125}</string>
            </dict>
            <key>~JumpScoreBG_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{248,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,127}}</string>
                <key>sourceSize</key>
                <string>{248,127}</string>
            </dict>
            <key>~JumpScoreBG_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{246,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,132}}</string>
                <key>sourceSize</key>
                <string>{246,132}</string>
            </dict>
            <key>~JumpScoreBG_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,0},{245,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,127}}</string>
                <key>sourceSize</key>
                <string>{245,127}</string>
            </dict>
            <key>~JumpScoreBG_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,0},{251,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,123}}</string>
                <key>sourceSize</key>
                <string>{251,123}</string>
            </dict>
            <key>~JumpScoreBG_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,0},{249,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,127}}</string>
                <key>sourceSize</key>
                <string>{249,127}</string>
            </dict>
            <key>~JumpScoreBG_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,0},{248,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,119}}</string>
                <key>sourceSize</key>
                <string>{248,119}</string>
            </dict>
            <key>~JumpScoreBG_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,0},{242,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,121}}</string>
                <key>sourceSize</key>
                <string>{242,121}</string>
            </dict>
            <key>~JumpScoreBG_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{233,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,125}}</string>
                <key>sourceSize</key>
                <string>{233,125}</string>
            </dict>
            <key>~JumpScoreBG_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,132},{230,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,125}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>~JumpScoreBG_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,132},{248,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,129}}</string>
                <key>sourceSize</key>
                <string>{248,129}</string>
            </dict>
            <key>~JumpScoreBG_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,132},{246,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,132}}</string>
                <key>sourceSize</key>
                <string>{246,132}</string>
            </dict>
            <key>~JumpScoreBG_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,132},{240,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,121}}</string>
                <key>sourceSize</key>
                <string>{240,121}</string>
            </dict>
            <key>~JumpScoreBG_000_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,132},{251,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,124}}</string>
                <key>sourceSize</key>
                <string>{251,124}</string>
            </dict>
            <key>~JumpScoreBG_000_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,132},{249,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,126}}</string>
                <key>sourceSize</key>
                <string>{249,126}</string>
            </dict>
            <key>~JumpScoreBG_000_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,132},{247,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,118}}</string>
                <key>sourceSize</key>
                <string>{247,118}</string>
            </dict>
            <key>~JumpScoreBG_000_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{251,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,124}}</string>
                <key>sourceSize</key>
                <string>{251,124}</string>
            </dict>
            <key>~JumpScoreBG_000_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,264},{230,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,127}}</string>
                <key>sourceSize</key>
                <string>{230,127}</string>
            </dict>
            <key>~JumpScoreBG_000_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,264},{241,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,123}}</string>
                <key>sourceSize</key>
                <string>{241,123}</string>
            </dict>
            <key>~JumpScoreBG_000_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,264},{235,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,128}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>~JumpScoreBG_000_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,264},{240,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>~JumpScoreBG_000_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,264},{241,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,121}}</string>
                <key>sourceSize</key>
                <string>{241,121}</string>
            </dict>
            <key>~JumpScoreBG_000_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,264},{249,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,120}}</string>
                <key>sourceSize</key>
                <string>{249,120}</string>
            </dict>
            <key>~JumpScoreBG_000_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,264},{249,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,126}}</string>
                <key>sourceSize</key>
                <string>{249,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>junmScore_winbg.png</string>
            <key>size</key>
            <string>{1957,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d7b16b064bd171c358948b7d8a45736$</string>
            <key>textureFileName</key>
            <string>junmScore_winbg.png</string>
        </dict>
    </dict>
</plist>
